.main-nav
{
    /* background-image: linear-gradient(to right,rgba(20, 30, 48, 0.6), rgba(36, 59, 85, 0.6)); */
    background-image: linear-gradient(to right,rgba(20, 30, 48, 1), rgba(36, 59, 85, 1));  
  
}
.nav-link
{
    font-weight: 300;
    font-family: Roboto;
    font-size: 12pt;
}
.nav-link:hover
{
    font-weight: 300;
    font-family: Roboto;
    font-size: 12pt;

}




.bg-home
{
    background-image: url('../images/bg-home-4.jpg');
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
.card-home
{
    
    margin-top: 200px;
    min-width: 60%;
    
 
}
.collection-card 
{
    min-height: 300px;
}
.bg-card-home
{
    background-color: transparent;
    color: white;
    background-image: linear-gradient(to right,rgba(20, 30, 48, 0.7), rgba(36, 59, 85, 0.7)); 
}
.search-block
{
    background-color: aliceblue;
}
.search-block:focus{
    background-color: aliceblue;
}
.carousel {
    position: relative;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    transition: transform 0.6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0;
  }
  
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0);
  }
  
  @supports (transform-style: preserve-3d) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .carousel-item-next,
  .active.carousel-item-right {
    transform: translateX(100%);
  }
  
  @supports (transform-style: preserve-3d) {
    .carousel-item-next,
    .active.carousel-item-right {
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .carousel-item-prev,
  .active.carousel-item-left {
    transform: translateX(-100%);
  }
  
  @supports (transform-style: preserve-3d) {
    .carousel-item-prev,
    .active.carousel-item-left {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #ffffff;
    text-align: center;
    opacity: 0.5;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  
  .carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .carousel-indicators .active {
    background-color: #ffffff;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
  }
.card-rounded
{
    border-radius: 10px;
    
}
.card-background{

background-size: cover; 
height: 175px; 
-webkit-box-shadow: none; 
box-shadow: none; 
}
.overlay{
  /* background-image: linear-gradient(to right top, rgb(21,167,181,0.5), rgb(0,190,177,0.5), rgb(0,210,150,0.5), rgb(83,225,102,0.5), #a8eb12); */
  border-radius: 10px;
  background-image: linear-gradient(to right,rgba(20, 30, 48, 0.5), rgba(36, 59, 85, 0.5));

}
.overlay:hover{
  background-image: linear-gradient(to right top, rgb(21,167,181,0.4), rgb(0,190,177,0.4), rgb(0,210,150,0.4), rgb(83,225,102,0.4), #a8eb12);
  border-radius: 10px;


}
/* demo1 */
.multi-slider {
    box-sizing: border-box;
  }
  
  .multi-slider, .multi-slider:before, .multi-slider:after {
    box-sizing: inherit;
  }
  
  .multi-slider img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  
  .multi-slider h2 {
    text-align: center;
    padding-bottom: 1em;
  }
  
  .multi-slider .slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .multi-slider .slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
  .multi-slider .slick-dots li.slick-active button {
    background-color: #329932;
  }
  .multi-slider .slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: #99cc99;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .multi-slider .slick-dots li :hover {
    background-color: #329932;
  }
  
  /* Custom Arrow */
  .multi-slider .prev {
    color: black;
    position: absolute;
    
    top: 38%;
    left: -1em;
    font-size: 1.5em;
  }
  .multi-slider .prev :hover {
    cursor: pointer;
    color: #329932;
  }
  
  .multi-slider .next {
    
    color: black;
    position: absolute;
    top: 38%;
    right: -1em;
    font-size: 1.5em;
  }
  .multi-slider .next :hover {
    cursor: pointer;
    color: #329932;
  }
  .slider-button{
      background-color: #f2f2f2;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      color: black;
  }
  .chev-left{
      margin-top: 10px;
      margin-left: 14px;
  }
  .chev-right{
    margin-top: 10px;
    margin-left: 17px;
}
  
  @media screen and (max-width: 800px) {
    .next {
      display: none !important;
    }
  }
  
  .heading{
    color: #7fbf7f;
    font-weight: 300;
  }
  .heading-focus
  {
      color: black;
      font-weight: 300;
  }
  .pg-bar{
      height: 3px;
      width: 40px;
  }

/* footer */

.footer-link
{
    font-weight: 300;
    font-family: Roboto;
    font-size: 11pt;
    text-decoration: none;
    
}
.footer ul{
    text-decoration: none;
}
.social
{
    font-size: 20pt;
}
