{% extends "base.html" %}
{% block title %}
{{project.project_name}} Project
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{project.project_name}} Project
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% block content %}
<div class="row m-t-25">
    <div class="col-lg-12">
        sdf
    </div>

</div>
{% endblock %}


{% load static %}
