{% extends "base.html" %}
{% block title %}
{{section.project_ref.project_name}} Section EDIT
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{section.project_ref.project_name}} {{section.name}} EDIT
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header" style="background-image: url('{{section.project_ref.cover_image}}');
                      background-position: center;
                      background-size: cover;
                      height: 300px;
              ">

        </div>




        <div class="d-flex justify-content-center ">

            <form action="" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                <table class="table">
                       <thead>
                           <tr>
                               <td>Name</td>
                               <td>Value</td>


                            </tr>
                       </thead>
                        <tbody>
                                {{ form.as_table }} 
                        </tbody>
                </table>
                <!-- {{form|crispy}} -->

                <button type="submit" class="btn btn-primary btn-sm"
                
                onclick='swal({ title:"Project Updated!",timer: 2000, text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'
                >Update</button>
            </form>

            <!-- markup -->

<!-- for more actions that you can use onclick, please check out assets/demo/js/demo.js -->
        </div>

    </div>
</div>
</div>

{% endblock %}


{% load static %}
