{% extends "base.html" %}
{% block title %}
{{project.project_name}} Project
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{project.project_name}} Project - {{section.name}}
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% load static %}
{% block content %}
<div class="row m-t-25">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" style="background-image: url('{{project.cover_image}}');
                                  background-position: center;
                                  background-size: cover;
                                  height: 300px;
                          ">
                <div class="bg-dark">

                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">

                    </div>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Section ID</th>
                            <td>{{section.id}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Dimentions</th>
                            <td>{{section.dimensions}} in Ft</td>
                        </tr>
                        <tr>
                            <th scope="row">Area</th>
                            <td>{{section.area}} sq. ft </td>
                        </tr>
                        <tr>
                            <th scope="row">Cost</th>
                            <td>&#8377; {{section.cost_per_unit}} per sq ft</td>
                        </tr>

                    </tbody>
                </table>
                <div class="p-3 d-flex justify-content-center ">
                    <button type="button" class="btn btn-sm btn-primary m-1" data-toggle="modal"
                        data-target="#exampleModal">
                        <i class="fas fa-plus-circle"></i>
                        Add Properties
                    </button>
                    <a class="btn btn-warning btn-sm float-left m-1"
                        href="{% url 'owner:section_edit' proid=section.project_ref.id id=section.id %}">
                        <i class="far fa-edit"></i>
                        Edit </a>
                    <button class="btn btn-sm m-1 float-right btn-danger" onclick="del()">
                        <i class="far fa-trash-alt"></i>
                        Delete
                    </button>
                </div>

                <script>
                    function del() {
                        swal({
                            title: "Are you sure?",
                            text: "You wont be able to revert this!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#00C851",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!",
                            confirmButtonClass: "btn btn-success"
                        }).then((result) => {
                            if (result.value) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                                window.location = "{% url 'owner:section_delete' id=section.id proid=section.project_ref.id %}";
                            }
                        })
                            ;

                    }
                </script>
                <hr>
                <div class="table-responsive ml-2 mr-2">
                    <table class=" myTable table table-striped ">
                        <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Price Rule</th>
                                <th>Cost per Unit</th>
                                <th>Status</th>
                                <th>Customer Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% load mathfilters %}
                            {% for property in properties %}

                            {% if property.section_id.id == section.id %}

                            <tr>
                                <td>{{section.section_prefix}}-{{property.serial_no}} </td>
                                <td>{{property.price_rule.name}}</td>
                                <td>

                                    {% with cost=section.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                                    &#8377; {{cost|mul:factor}}</td>
                                {% endwith %}
                                <td>
                                    {% if property.status_code == "V"  %}
                                    <span class="badge  badge-pill badge-success">Vacant</span>
                                    {% elif property.status_code == "H" %}
                                    <span class="badge badge-pill badge-warning">Hold</span>
                                    {% elif property.status_code == "B" %}
                                    <span class="badge badge-pill badge-danger">Booked</span>
                                    {% elif property.status_code == "A" %}
                                    <span class="badge badge-pill badge-primary">Alloted</span>
                                    {% else  %}
                                    <span class="badge badge-pill badge-secondary">Registered</span>

                                    {% endif %}
                                    <!--  -->
                                </td>
                                <td>
                                    <a href="{% url 'owner:customer_view' %}">
                                        {{property.cust_id.name}}a</a></td>
                                <td>
                                    <a class="btn btn-sm  btn-default"
                                        href="{% url 'owner:property_view' id=property.id %} ">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a class="btn btn-sm  btn-warning"
                                        href="{% url 'owner:property_edit' id=property.id %} ">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a class="btn btn-sm  btn-danger"
                                        href="{% url 'owner:property_delete' id=property.id %}">
                                        <i class="far fa-trash-alt"></i>
                                </td>

                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('.myTable').DataTable();
                        });
                    </script>


                </div>


            </div>
        </div>
    </div>


</div>
{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Property</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    <!--  {{form|crispy}} -->
                    <div class="form-row">
                        <div class="form-group col-auto mb-0">
                            {{ form.serial_no|as_crispy_field }}
                            <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                                Example: 1,2 3
                            </span>
                        </div>

                        <input type="hidden" name="section_id" value="{{section.id}}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-auto mb-0">
                            {{ form.status_code|as_crispy_field }}
                            <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                                Example: vacant
                            </span>
                        </div>
                        <div class="form-group col-auto mb-0">
                            {{ form.cust_id|as_crispy_field }}
                            <span class="form-text text-muted" style="font-size: 10pt;
            font-weight: 500;
            text-transform: capitalize;
            ">
                                Example: Customer id-1
                            </span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-auto mb-0">
                            {{ form.price_rule|as_crispy_field }}
                            <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                                {% for price in price_rules %}
                                Rule {{price.id}} : {{price.name}} at {{price.premium_price}}% premium <br>
                                {% endfor %}
                            </span>
                        </div>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}