{% extends "base.html" %}
{% block title %}
{{project.project_name}} Project
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{project.project_name}} Project
{% endblock %}
<!-- Mobile menu -->
{% block mobile-sidebar %}
{% for item in menu %}
<li class="{{item.active}} has-sub ">
  {% if item.sub|length > 0 %}
  <a class="js-arrow" href="#">
    {% else %}
    <a class="js-arrow" href="{{item.url}} ">
      {% endif %}
      <i class="fas {{item.icon}}"></i>{{item.name}} </a>
    <ul class="list-unstyled navbar__sub-list js-sub-list">
      {% if item.sub|length > 0 %}
      {% for sub in item.sub %}
      <li>
        <a href="{{sub.url}}">{{sub.name}}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
</li>
{% endfor %}

{% endblock%}
<!-- desktop menu -->
{% block desk-sidebar%}

{% for item in menu %}
<li class="{{item.active}} has-sub ">
  {% if item.sub|length > 0 %}
  <a class="js-arrow" href="#">
    {% else %}
    <a class="js-arrow" href="{{item.url}} ">
      {% endif %}
      <i class="fas {{item.icon}}"></i>{{item.name}} </a>
    <ul class="list-unstyled navbar__sub-list js-sub-list">
      {% if item.sub|length > 0 %}
      {% for sub in item.sub %}
      <li>
        <a href="{{sub.url}}">{{sub.name}}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
</li>
{% endfor %}

{% endblock %}

<!-- Main Conent -->
{% block content %}
<div class="row m-t-25">

  <div class="col-12">
    <div class="card">
      <div class="card-header" style="background-image: url('{{project.cover_image}}');
                    background-position: center;
                    background-size: cover;
                    height: 300px;
            ">
            <div class="bg-dark">
           
          </div>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
              <tr>
                  <th scope="row">Project ID</th>
                  <td></td>
                  <td>{{project.id}}</td>
                </tr>
            <tr>
              <th scope="row">Project Name</th>
              <td></td>
              <td>{{project.project_name}}</td>
            </tr>
            <tr class="">

              <th scope="row">Category</th>
              <td></td>
              <td>
                {% if project.pro_category == "R"%}
                <span class="text-primary">Redential</span>
                {% elif project.pro_category == "C"%}
                <span class="badge badge-danger">Commercial</span>
                {% else%}
                <span class="badge badge-warning">Others</span>
                {% endif %}

              </td>
            </tr>
            <tr>
              <th scope="row">Project Locality</th>
              <td></td>
              <td>{{project.locality}}</td>
            </tr>
            <tr>
              <th scope="row">Project Address</th>
              <td></td>
              <td>{{project.project_address}},{{project.city}}-{{project.pin_code}}</td>
            </tr>
            <tr>
              <th scope="row">Project Status</th>
              <td></td>
              <td>
                {% if project.is_active %}
                <span class="badge badge-success">Active</span>
                {% else%}
                <span class="badge badge-danger">Not active</span>
                {% endif %}
              </td>
            </tr>

            <tr>
              <th scope="row">Contact Person Name</th>
              <td></td>
              <td>{{project.contact_person_name}}</td>
            </tr>
            <tr>
              <th scope="row">Contact Person Phone</th>
              <td></td>
              <td>{{project.contact_person_phone}}</td>
            </tr>
            <tr>
              <th scope="row">Contact Person Email</th>
              <td></td>
              <td>{{project.contact_person_mail}}</td>
            </tr>
            <tr>
              <th scope="row">Project Description</th>
              <td></td>
              <td>{{project.description}}</td>
            </tr>
            <tr>
              <th scope="row">GPS Geocode</th>
              <td></td>
              <td>lat:{{project.geo_code_lat}}, long:{{project.geo_code_long}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      
      <div class="p-3 align-self-center ">
          <button type="button" class="btn btn-sm btn-primary m-1" data-toggle="modal" data-target="#exampleModal">
            Add Sections
          </button>
          <button class="btn btn-warning btn-sm float-left m-1" >Edit Project</button>
      </div>
      
      <hr>
      <div class="d-flex flex-row justify-content-center mt-2">
        <div>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              {% for section in sections %}
              <a class="nav-item nav-link " id="nav-{{section.name}}-tab" data-toggle="tab" href="#{{section.section_prefix}}" role="tab"
                aria-controls="nav-home" aria-selected="true">{{section.name}}</a>
               {% endfor %} 
              
            </div>
          </nav>
        </div>
        

      </div>

      <div class="tab-content" id="nav-tabContent">
          {% for section in sections %}
        <div class="tab-pane fade show " id="{{section.section_prefix}}" 
        role="tabpanel" aria-labelledby="nav-{{section.section_prefix}}-tab">
        <div class="table-responsive table--no-card m-b-30">
          <table class=" myTable table table-striped ">
              <thead>
                  <tr>
                      <th>Serial No.</th>
                      <th >Price Rule</th>
                      <th class="text-right">Cost per Unit</th>                      
                      <th>Status</th>
                      <th>Customer Name</th>
                  </tr>
              </thead>
              <tbody>
                {% load mathfilters %}
                {% for property in properties %}
               
                  {% if property.section_id.id == section.id %}
                               
                  <tr>
                      <td>{{section.section_prefix}}-{{property.serial_no}} </td>                      
                      <td >{{property.price_rule.name}}</td>
                      <td class="text-right">
                        
                      {% with cost=section.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                      &#8377; {{cost|mul:factor}}</td>
                        {% endwith %}
                      <td>
                          {% if property.status_code == "V"  %}
                          <span class="badge  badge-pill badge-success">Vacant</span>
                          {% elif property.status_code == "H" %}
                          <span class="badge badge-pill badge-warning">Hold</span>
                          {% elif property.status_code == "B" %}
                          <span class="badge badge-pill badge-danger">Booked</span>
                          {% elif property.status_code == "A" %}
                          <span class="badge badge-pill badge-primary">Alloted</span>
                          {% else  %}
                          <span class="badge badge-pill badge-secondary">Registered</span>
                          
                        {% endif %}
                      <!--  -->
                         </td>
                      <td>
                        <a href="{% url 'owner:customer_view' %}">
                        {{property.cust_id.name}}a</a></td>
                      
                  </tr>
                  {% endif %}
                  {% endfor %}
                
              </tbody>
          </table>
          <script>
          $(document).ready( function () {
            $('.myTable').DataTable();
        } );
        </script>
      </div>

  
        
      </div>
        {% endfor %} 
     </div>


      <!--     <div class="d-flex flex-row justify-content-center" style="margin-top: 40%;">
        <div></div>
        <div class="p-3 align-self-end ">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Projects
          </button>
        </div>
      </div> -->



    </div>
  </div>


</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {{form|crispy}}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>

      </form>
    </div>

  </div>
</div>
{% endblock %}
<!-- Button trigger modal -->