{% extends "home-base.html" %}
{% block title %}
Home 
{% endblock title %}
{% load static %}
{% block body %}
<body >
    <div class="bg-home">
        <!-- header Start -->
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark main-nav">
                <a class="navbar-brand" href="#"><h1 class="text-white">CYPRESS</h1></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#"> <i class="fa fa-heart"></i> Favourites </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fas fa-align-left"></i> News & Articles</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link text-bold active" href="#"> <i class="far fa-user"></i> Login</a>
                      </li>
                </ul>
                
              </div>
            </nav>
          </header>
    <!-- <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top main-nav " >
          <a class="navbar-brand" href="#"><h1 class="text-white">CYPRESS</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-white ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="#"> <i class="fa fa-heart"></i> Favourites <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-align-left"></i> News & Articles</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link text-bold active" href="#"> <i class="far fa-user"></i> Login</a>
              </li>
            </ul>
            
          </div>
        </nav>
      </header> -->
      <!-- Header ends -->
      <!-- Search Card  starts-->
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight card-home">
            <div class="card bg-card-home">
                 <div class="card-body ">
                  
                  <div class="input-group input-group-lg mt-3 mb-3">
                     <div class="input-group-prepend">
                            <button type="button" class="btn btn-light btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-map-marker"></i>  Location 

                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Lucknow</a>
                                    <a class="dropdown-item" href="#">Faizabad</a>
                                    <a class="dropdown-item" href="#">Kanpur</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Gorakhpur</a>
                                  </div>
                     </div>
                    <input type="text" class="form-control search-block" placeholder="  Try    'Plot on Faizabad road'" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-success btn-lg" type="button" id="button-addon2"><i class="fa fa-search"></i> Search</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="p-2 bd-highlight"></div>
      </div>
          <!-- Search Card  ends-->
     
    </div>

    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            
            <div class="col-12">
                <h1 class="heading" > In <span class="heading-focus">Spotlight</span></h1>
                <div class="progress pg-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
            
          </div> 
  
        <div class="row">
            <div class="col-lg-2 "></div>
             <!-- Spotlight Card  starts-->
          <div class="col-lg-8 col-12 ">
               
                <div class=" mt-5">
                        <div  id="carouselExampleCaptions" class="card card-rounded  shadow-lg carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner card card-rounded  shadow-lg">
                            <div class="carousel-item active">
                              <img src="https://images.pexels.com/photos/1488267/pexels-photo-1488267.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
                              <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="https://images.pexels.com/photos/2091166/pexels-photo-2091166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
                              <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
                              <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                              </div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                           
                          </a>
                        </div>
                      </div>
            </div>
             <!-- Spotlight Card  ends-->
            <div class="col-lg-2"></div>
        </div>
        <br>
        <br>
       <hr>
       
       
       <div class="row mt-5">          
          <div class="col-12 ">
              <h1 class="heading" > Other  <span class="heading-focus"> Projects</span></h1>
              <div class="progress pg-bar">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
          </div>
         
      </div> 

      
            <!-- multi slider -->
            
                
                  <div class="row ">
                    <div class="col-md-12 heroSlider-fixed multi-slider ">
                      <div class="overlay">
                    </div>
                      <!-- Slider -->
                      <div class="slider responsive">
                        <div class=" card-rounded" >
                          <img class="card-img-top card-rounded" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                          
                        </div>
                        <div class=" card-rounded" >
                            <img class="card-img-top  card-rounded" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                            
                          </div>
                        <div class=" card-rounded" >
                          <img class="card-img-top  card-rounded" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                          
                        </div>
                        <div class=" card-rounded" >
                            <img class="card-img-top  card-rounded" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                            
                          </div>
                          <div class=" card-rounded" >
                              <img class="card-img-top  card-rounded" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                              
                            </div>
                          <div class=" card-rounded" >
                                <img class="card-img-top  card-rounded" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                                
                              </div>
                       
                      </div>
                      <!-- control arrows -->
                      <div class="prev slider-button shadow border border-light btn btn-light">
                        <div class="">
                            <span class="fa fa-chevron-left " aria-hidden="true"></span>
                        </div>
                        
                      </div>
                      <div class="next slider-button shadow border border-light btn btn-light">
                          <div class="">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                
            <!-- multi slider ends -->
            <hr>
           
        
      <!-- News and Articles -->
             
          <div class="row mt-5">          
              <div class="col-12 ">
              <h1 class="heading" > News  <span class="heading-focus"> & Articles</span></h1>
              <div class="progress pg-bar">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
          </div> 
          <div class="row mt-4 mb-5">
            <div class="col-lg-4 col-md-2 col-12">
                <div class="card" >              
                
                    <img style="height: 200px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1521897258701-21e2a01f5e8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Card image">
    
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-2 col-12">
                <div class="card" >              
                
                    <img style="height: 200px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1531834685032-c34bf0d84c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1287&q=80" alt="Card image">
    
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-2 col-12">
                <div class="card" >              
                
                    <img style="height: 200px; width: 100%; display: block;" src="https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?cs=srgb&dl=architecture-buildings-cars-1034662.jpg&fm=jpg" alt="Card image">
    
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
            </div>
            
          </div>
    </div>
    
    
           
              <!-- News and Articles ends -->
    </div>
    <!-- footer -->
    <div class="container-fluid bg-dark text-success mt-5 footer pb-5 pt-2">
      <div class="row mt-5 pb-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-12">
            <div class="row">
              <div class="col-md-6">
                  <div class="row mt-5 ">
                      <div class="col-md-6 ">
                         <div class="logo-part">
                            <h1 class="text-secondary">CYPRESS</h1>
                            <p class="ml-2 mt-4 footer-link ">Gomtinager Lucknow</p>
                            
                         </div>
                      </div>
                      <div class="col-md-6 px-4">
                          <h2 class="heading">About Company</h2>
                         <p class="text-primary footer-link">But horizontal lines can only be a full pixel high.</p>
                         <a href="#" class="btn-footer footer-link"> More Info </a><br>
                         <a href="#" class="btn-footer footer-link"> Contact Us</a>
                      </div>
                   </div>
              </div>

              
     
        <div class="col-md-6 mt-5 ">
            <div class="row ml-1">
               <div class="col-md-6 pb-3">
                  <h2 class="heading"> Quick Links</h2>
                  <div class="row  ">
                     <div class="col-md-6">
                        <ul class="nav-item navbar-nav">
                           <li class="footer-link"> <a href="#"> Home</a> </li>
                           <li class="footer-link"> <a href="#"> About</a> </li>
                           <li class="footer-link"> <a href="#"> Service</a> </li>
                           <li class="footer-link"> <a href="#"> Team</a> </li>
                           <li class="footer-link"> <a href="#"> Help</a> </li>
                           <li class="footer-link"> <a href="#"> Contact</a> </li>
                        </ul>
                     </div>
                     <div class="col-md-6 ">
                        <ul class="nav-item navbar-nav">
                        
                           <li class="footer-link"> <a href="#"> Terms</a> </li>
                           <li class="footer-link"> <a href="#"> Policy</a> </li>
                           <li class="footer-link"> <a href="#"> Refunds</a> </li>
                           <li class="footer-link"> <a href="#"> Payment</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 ">
                 <div class="row">
                   <div class="col-md-6">
                     
                   </div>
                 </div>
                  
                  <h2 class="heading"> Newsletter</h2>
                  
                  <form class="form-footer my-3">
                      <div class="input-group">
                          <input type="text" class="form-control form-control-sm search-block" placeholder="Write your Email address" name="search">
                          <div class="input-group-append">
                              <input type="button" class="btn btn-sm btn-primary" value="Subscribe" >
                          </div>
                        </div>                    
                     
                  </form>
                  <h2 class="heading mt-4"> Social</h2>
                  <div class="social">
                      <a  href="#"><i class="fab fa-facebook" ></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
                  
                 
               </div>
            </div>
         </div>
            </div>
          
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
   
</body>

{% endblock %}

