{% extends "home-base.html" %}
{% block title %}
About Us |
{% endblock title %}
{% load static %}
{% block body %}


{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
  {% else %}
  <div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>About Us</h1>

            <h3 class="title text-center">{{company.name}}


            </h3>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">About US</h2>
        <p>
          {{company.long_desc}}
        </p>
        <!-- NAVS START -->
        <br>
        <br>
        <div class="card card-nav-tabs card-plain ">

          <div class="card-header card-header-primary">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="d-flex justify-content-center">


              <div class="nav-tabs-navigation">

                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#visions" data-toggle="tab" marked="1">Visions and Mission</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#legals" data-toggle="tab" marked="1">Legals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#bank" data-toggle="tab" marked="1">Bank Details</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#gallery" data-toggle="tab" marked="1">Gallery</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#media" data-toggle="tab" marked="1">Mentions in media </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="tab-content text-center">
              <div class="tab-pane active" id="visions">
                <h3 class="">Vision</h3>
                <p>We aim at building better homes and delivering world class	projects while maintaining a well-rounded organizational growth,
                  	just not only building better homes or offices but also providing	better facilities, in order to offer a life of better quality.</p>
                <h3>Mission</h3>
                <p>Delivering world class projects with balanced organizational growth is our mission.
                    Our motto is not only to build better homes, offices and commercial places but to also	
                    provide a better quality of life and environment to end users. We have an unflinching	commitment to the highest
                     levels of innovation professionalism, social and moral	
                  responsibility to our customer enduring them with enthralling architecture,	lavish comforts and a gracious living.</p>
              </div>
              <div class="tab-pane" id="legals">
                {% if documents %}
                <table class="table">
                  {% for item in documents %}

                  <tr>
                    <td>
                      <a href="{% get_media_prefix %}{{item.bg_upload}}" target="blank"
                        class="list-group-item list-group-item-action">{{item.name}} </a>
                    </td>
                    <td>
                      <a href="{% get_media_prefix %}{{item.bg_upload}}" target="blank"
                        class="list-group-item list-group-item-action">{{item.ref_no}} </a>
              </div>
              </td>
              <td>
                <a href="{% get_media_prefix %}{{item.bg_upload}} " target="blank" class="btn btn-sm btn-primary"><i
                    class="far fa-eye"></i> View</a>
            </div>
            </td>
            </tr>


            {% endfor %}
            </table>
            {% else %}
            <img src="{% static "images/icon/coming-soon.png" %} " alt="coming-soom" srcset="">
            {% endif %}
          </div>
          <div class="tab-pane" id="bank">

            {% if bank_accounts %}



            {% for account in bank_accounts %}
            <div class="info info-horizontal" style="padding-top: 10px;">
              <div class="icon icon-primary">
                <i class="material-icons">business_center</i>
              </div>
              <div class="description">
                <h4 class="info-title">{{account.bank_name}}

                  <span class="form-text text-muted" style="font-size: 10pt;
                            font-weight: 500;
                            text-transform: capitalize;
                            ">
                    {{account.bank_address}}
                  </span>
                </h4>

                <table class="text-dark table text-center">
                  <tbody>
                    <tr>
                      <td scope="row" style="font-weight: 500;">Account Name:</td>
                      <td>{{account.account_name}}</td>
                    </tr>
                    <tr>
                      <td scope="row" style="font-weight: 500;">Account Number:</td>
                      <td>{{account.account_number}}</td>
                    </tr>

                    <tr>
                      <td scope="row" style="font-weight: 500;">IFSC Code:</td>
                      <td>{{account.ifsc_code}}</td>
                    </tr>
                    {% if account.swift_code != None %}
                    <tr>
                      <td scope="row" style="font-weight: 500;">SWIFT Code:</td>
                      <td>{{account.swift_code}}</td>
                    </tr>
                    {% endif %}
                    {% if account.iban_code != None %}
                    <tr>
                      <td scope="row" style="font-weight: 500;">IBAN Code:</td>
                      <td>{{account.iban_code}}</td>
                    </tr>
                    {%endif%}
                  </tbody>
                </table>
              </div>
            </div>

            {% endfor %}
            {% else %}
            <img src="{% static "images/icon/coming-soon.png" %} " alt="coming-soom" srcset="">
            {% endif %}     

          </div>
          <div class="tab-pane" id="gallery">

            {% if gallery %}
            <div class="card card-raised card-carousel">
              <div id="carouselGallery" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                  <li data-target="#carouselGallery" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselGallery" data-slide-to="1"></li>
                  <li data-target="#carouselGallery" data-slide-to="2"></li>
                  <li data-target="#carouselGallery" data-slide-to="4"></li>
                  <li data-target="#carouselGallery" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    {% for slide in gallery %}
                    {% if slide.is_active %}
                    <div class="carousel-item active">
                        {% if slide.use_url %}
                        <img class="d-block w-100" src="{{slide.bg_url}}" 
                        style="max-height: 600px"
                        alt="Second slide">
                        {% else %}
                        <img class="d-block w-100" src="{% get_media_prefix %}{{slide.bg_upload}}" 
                        style="max-height: 600px"
                        alt="Second slide">
                        {% endif %}
                      <div class="carousel-caption d-none d-md-block" style="color: black;">
                        <h4>
                          <i class="material-icons">location_on</i> {{slide.name}},{{slide.short_desc}}
                        </h4>
                      </div>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                      {% if slide.use_url %}
                      <img class="d-block w-100" src="{{slide.bg_url}}" alt="Second slide"
                      style="max-height: 600px"
                      >
                      {% else %}
                      <img class="d-block w-100" src="{% get_media_prefix %}{{slide.bg_upload}}" 
                      style="max-height: 600px"
                      alt="Second slide">
                      {% endif %}
  
                      <div class="carousel-caption d-none d-md-block"  style="color: black;">
                        <h4>
                          <i class="material-icons">location_on</i>{{slide.name}},{{slide.short_desc}}
                        </h4>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                  <i class="material-icons">keyboard_arrow_left</i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            {% else %}
            <img src="{% static "images/icon/coming-soon.png" %} " alt="coming-soom" srcset="">
            {% endif %}
          </div>
          <div class="tab-pane" id="media">

            {% if media %}
            <div class="card card-raised card-carousel">
              <div id="carouselMedia" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                  <li data-target="#carouselMedia" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselMedia" data-slide-to="1"></li>
                  <li data-target="#carouselMedia" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  {% for slide in media %}
                  {% if slide.is_active %}
                  <div class="carousel-item active">
                      {% if slide.use_url %}
                      <img class="d-block w-100" src="{{slide.bg_url}}" 
                      style="max-height: 600px"
                      alt="Second slide">
                      {% else %}
                      <img class="d-block w-100" src="{% get_media_prefix %}{{slide.bg_upload}}" 
                      style="max-height: 600px"
                      alt="Second slide">
                      {% endif %}
                    <div class="carousel-caption d-none d-md-block" style="color: black;">
                      <h4>
                        <i class="material-icons">location_on</i> {{slide.name}},{{slide.short_desc}}
                      </h4>
                    </div>
                  </div>
                  {% else %}
                  <div class="carousel-item">
                    {% if slide.use_url %}
                    <img class="d-block w-100" src="{{slide.bg_url}}" alt="Second slide"
                    style="max-height: 600px"
                    >
                    {% else %}
                    <img class="d-block w-100" src="{% get_media_prefix %}{{slide.bg_upload}}" 
                    style="max-height: 600px"
                    alt="Second slide">
                    {% endif %}

                    <div class="carousel-caption d-none d-md-block"  style="color: black;">
                      <h4>
                        <i class="material-icons">location_on</i>{{slide.name}},{{slide.short_desc}}
                      </h4>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselMedia" role="button" data-slide="prev">
                  <i class="material-icons">keyboard_arrow_left</i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselMedia" role="button" data-slide="next">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            {% else %}
            <img src="{% static "images/icon/coming-soon.png" %} " alt="coming-soom" srcset="">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- NAVS ENDS -->
  </div>


</div>
</div>

{% endblock %}