{% extends "home-base.html" %}
{% block title %}
Contact Us |
{% endblock title %}
{% load static %}
{% block body %}

<!-- maps api -->
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <!-- maps api -->
{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}

      
<div style="width: 100%; height: 480px" id="mapContainer"></div>
   

  </div>

 <!--  <div id="contactUsMap" class="big-map"></div>
   -->
  
  <div class="main main-raised">
    <div class="contact-content">
      <div class="container">
         
        
        <div class="row">
          <div class="col-md-6">
                
                <h1 class="title">Contact US</h1>  
                <h2 class="title"> {{company.name}} </h2>
               
            <p class="description">
                Please Fill this form and our customer support team will contact you soon.

              <br>
              <br>
            </p>
            
            <form role="form" id="contact-form" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
  
                {% load widget_tweaks %}
              <div class="form-group">
                <label for="name" class="bmd-label-floating">Your name</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmails" class="bmd-label-floating">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmails" name="email">
                <span class="bmd-help">We'll never share your email with anyone else.</span>
              </div>
              <div class="form-group">
                <label for="phone" class="bmd-label-floating" >Phone</label>
                <input type="text" class="form-control" id="phone" name="phone">
              </div>
              <div class="form-group label-floating">
                <label class="form-control-label bmd-label-floating" for="message"> Your message</label>
                <textarea class="form-control" rows="6" id="message" name="message"></textarea>
              </div>
              <div class="submit text-center">
                <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contact Us">
              </div>
            </form>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">pin_drop</i>
              </div>
             
                
                {% for office in offices %}
                <div class="description">
                  <h4 class="info-title">{{office.name}} </h4>
                   <p> {{office.address}}
                     <br> {{office.city}}, {{office.pincode}}
                     <br> {{office.state}} ,{{office.country}}
                   </p>
                </div>                  
                {% endfor %}
                  
                
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">phone</i>
              </div>
              <div class="description">
                <h4 class="info-title">Give us a ring</h4>
                <p>
                   {{company.contact_no}} <br>
                   {{company.alternate_no}}
                  <br> Everyday, 10:00 AM - 7:00 PM
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">business_center</i>
              </div>
              <div class="description">
                <h4 class="info-title">Legal Information</h4>
                <p> {{company.legalName}}
                  <br> CIN_no &#xB7; {{company.cin_no}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  <script>
    var lat=  parseFloat("{{company.geo_code_lat}}");
    var long= parseFloat("{{company.geo_code_long}}");
    var name= "{{company.name}}";
  </script>
  <script>
    var map;
    
  /*   function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: lat, lng: long},
        zoom: 17
      });
      var marker = new google.maps.Marker({
    position: {lat: lat, lng: long},
    map: map,
    animation: google.maps.Animation.DROP,
    title: name
  }); */
    
  
    // Initialize the platform object:
    var platform = new H.service.Platform({
    'apikey': 'blqihKOV3eEmqUqOlWcUPozmDXT52yipSaLOpwVYJ3o'
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
    document.getElementById('mapContainer'),
    maptypes.vector.normal.map,
    {
      zoom: 17,
      center: { lng: long, lat: lat }
    });
    var defaultLayers = platform.createDefaultLayers();
    var ui = H.ui.UI.createDefault(map, defaultLayers);
    var bubble = new H.ui.InfoBubble({lng: long, lat: lat}, {
        content: '<b>'+name+'</b>'
       });
       

// Add info bubble to the UI:
ui.addBubble(bubble);
  </script>
 
  {% endblock %}