{% extends "home-base.html" %}
{% load static %}
{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-parallax="true" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">


    {% for slide in spotlights %}

    {% if slide.is_active %}
    <div class="carousel-item active">
      {% else %}
      <div class="carousel-item ">
        {% endif %}
        <!-- name=models.CharField(max_length=50)
    short_desc= models.CharField(max_length=300, blank=True, null=True)
    bg_url=models.URLField(max_length=200,blank=True, null=True)
    bg_upload=models.ImageField(upload_to='images/config/',blank=True, null=True) 
    use_url=models.BooleanField(blank=True, null=True)
    is_active=models.BooleanField(blank=True, null=True)
 -->
        {% if slide.use_url %}
        <div class="page-header header-filter" style="background-image: url('{{slide.bg_url}} ');">
          {% else %}
          <div class="page-header header-filter"
            style="background-image: url('{% get_media_prefix %}{{slide.bg_upload}} ');">
            {% endif %}


            <div class="container">
              <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">{{slide.name}} </h1>
                  <h4>{{slide.short_desc}} </h4>
                  <br>
                  <h6>Connect with us on:</h6>
                  <div class="buttons">
                    <a href="{{company.fb_id}}" target="_blank" class="btn btn-just-icon btn-white btn-link btn-lg">
                      <i class="fab fa-facebook-square "></i>
                    </a>
                    <a href="{{company.twitter_id}}" target="_blank"
                      class="btn btn-just-icon btn-white btn-link btn-lg">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="{{company.insta_id}}" target="_blank" class="btn btn-just-icon btn-white btn-link btn-lg">
                      <i class="fab fa-instagram"></i>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="material-icons">keyboard_arrow_left</i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="material-icons">keyboard_arrow_right</i>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="main main-raised">

      <div class="container">
        <div class="section ">
          <div class="text-center">

            <img class=" rounded img-fluid" src="{% get_media_prefix %}{{company.logo}}" 
            style="height: 200px; width: 180px;" alt="">
            <br>

            <h1>Welcome to {{company.name|upper}} </h1>

          </div>

          <!--     *********     FEATURES 1      *********      -->
          <div class="features-1">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Why Chooses Us</h2>
                <h5 class="description">This is the paragraph where you can write more details about your product.
                  Keep you user engaged by providing meaningful information. Remember that by this time, the user is
                  curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see
                  more.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">chat</i>
                  </div>
                  <h4 class="info-title">Industry Knowledge</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                    paragraph describing a feature will be enough.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">Experinced Team</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                    paragraph describing a feature will be enough.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <h4 class="info-title">Secure and Hasslefree payments</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                    paragraph describing a feature will be enough.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Project List -->

          <div class="row mt-5">

            <div class="col-12 ">
              <h2 class="text-success title"> Our <span class="text-dark">Projects</span></h2>
              <div class="progress pg-bar">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="row mt-4 " id="projects">
         
              

            {% for item in project_list  %}

            <div class="col-lg-4 col-md-6 col-12 mt-3 ">
                {% url 'project:project_profile' id=item.id as url %}
              <div class="card card-blog">
                <div class="card-header card-header-image">
                  <a href="{{url}}">
                    <img class="img img-raised" src="{% get_media_prefix %}{{item.cover_image}} " style="height: 200px;">
                  </a>
                  <div class="colored-shadow" style="background-image: url('{% get_media_prefix %}{{item.cover_image}}'); opacity: 1;">
                  </div>
                </div>
                <div class="card-body">


                  {% if item.pro_category == "C" %}
                  <h6 class="category text-danger">
                    <i class="material-icons">trending_up</i> Commercial
                  </h6>
                  {% else %}
                  <h6 class="category text-info">
                    <i class="material-icons">home</i> Residential
                  </h6>
                  {% endif %}


                  <h4 class="card-title">
                    <a href="{{url}}">{{item.project_name}}</a>
                  </h4>
                  <p class="card-description">
                    <i class="fas fa-map-marker-alt"></i>
                    {{item.locality}} <br>
                    <a href="{{url}}"> Read More </a>
                  </p>
                </div>
              </div>
            </div>

            {% endfor %}
       
          </div>
          <button class="btn btn-sm btn-danger" id="prev">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button class="btn btn-sm btn-danger" id="next">
                <i class="fas fa-chevron-right"></i>
              </button>
          <script type="text/javascript">
           // var $next = $(sliderWrap).find('.next');
           var prev= document.getElementById('prev');
           var next= document.getElementById('next');
           if (parseInt("{{project_list.length}}")>1) { 
             
           

           if (window.screen.width<=760) {
            $(document).ready(function () {
              $('#projects').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                nextArrow: next,
                prevArrow: prev,
                
              });
            });
           }
           if(window.screen.width>760&&window.screen.width<=992) {
            $(document).ready(function () {
              $('#projects').slick({
                slidesToShow: 2 ,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                nextArrow: next,
                prevArrow: prev,
                
              });
            });
           }
           else
           {
            $(document).ready(function () {
              $('#projects').slick({
                slidesToShow: 3 ,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                nextArrow: next,
                prevArrow: prev,
                
              });
            });
           }
           }

           else{
            prev.style.display="none";
            next.style.display="none";
           }
          

           
            
        

          </script>
          <br>

 
     
     
   <!-- <div class="projects">
              <div>your content</div>
              <div>your content</div>
              <div>your content</div>
            </div> -->

       

          <!-- News and Articles ends -->
          <div class="row mt-3">
            <div class="col-12  ">
              <h2 class="text-success title"> News <span class="text-dark">and Articles </span></h2>
              <div class="progress pg-bar">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <!--     *********     BLOGS 3      *********      -->
          <div class="blogs-3">
            <div class="container">
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">

                  <div class="card card-plain card-blog">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card-header card-header-image">
                          <img class="img img-raised"
                            src=" https://images.unsplash.com/photo-1521897258701-21e2a01f5e8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <h6 class="card-category text-info">Enterprise</h6>
                        <h3 class="card-title">
                          <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                        </h3>
                        <p class="card-description">
                          Like so many organizations these days, Autodesk is a company in transition. It was until
                          recently a traditional boxed software company selling licenses. Yet its own business model
                          disruption is only part of the story — and…
                          <a href="#pablo"> Read More </a>
                        </p>
                        <p class="author">
                          by
                          <a href="#pablo">
                            <b>Mike Butcher</b>
                          </a>, 2 days ago
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card card-plain card-blog">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card-header card-header-image">
                          <a href="#pablo">
                            <img class="img img-raised"
                              src=" https://images.unsplash.com/photo-1521897258701-21e2a01f5e8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                          </a>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <h6 class="card-category text-danger">
                          <i class="material-icons">trending_up</i> Trending
                        </h6>
                        <h3 class="card-title">
                          <a href="#pablo">6 insights into the French Fashion landscape</a>
                        </h3>
                        <p class="card-description">
                          Like so many organizations these days, Autodesk is a company in transition. It was until
                          recently a traditional boxed software company selling licenses. Yet its own business model
                          disruption is only part of the story — and…
                          <a href="#pablo"> Read More </a>
                        </p>
                        <p class="author">
                          
                          by
                          <a href="#pablo">
                            <b>Mike Butcher</b>
                          </a>, 2 days ago
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card card-plain card-blog">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card-header card-header-image">
                          <a href="#pablo">
                            <img class="img img-raised"
                              src=" https://images.unsplash.com/photo-1521897258701-21e2a01f5e8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                          </a>
                          <div class="colored-shadow" style="background-image: url('./assets/img/examples/blog8.jpg')">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <h6 class="card-category text-success">
                          Startups
                        </h6>
                        <h3 class="card-title">
                          <a href="#pablo">Lyft launching cross-platform service this week</a>
                        </h3>
                        <p class="card-description">
                          Like so many organizations these days, Autodesk is a company in transition. It was until
                          recently a traditional boxed software company selling licenses. Yet its own business model
                          disruption is only part of the story — and…
                          <a href="#pablo"> Read More </a>
                        </p>
                        <p class="author">
                          by
                          <a href="#pablo">
                            <b>Megan Rose</b>
                          </a>, 2 days ago
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--     *********    END BLOGS 4      *********      -->
          

        </div>


      </div>
      </div>
    </body>
      {% endblock %}