{% extends "home-base.html" %}
{% block title %}
Customer Login 
{% endblock title %}
{% load static %}

{% block body %}

{% load static %}
{% if company.use_url %}
<div class="page-header header-filter" data-parallax="false" style="height: 900px;;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 800px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto mb-5">
          <div class="brand text-center">
                <h1>Welcome to {{company.name}} </h1>
             
          </div>

          
        </div>
      </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Associate Login</h4>
                  <br>
                </div>    
          
                {% if error %}
                <div class="alert alert-danger" role="alert">
                       {{error}}
                   </div> 
                {%else %}
                <br>
                <br>
                {% endif %}
                <form class="text-center" action=" {% url 'webapp:login'  %} " method="post">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
          
                        {% load widget_tweaks %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username....">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password...">
                          </div>
             
          
                       
                    <button class="btn btn-primary">Login</button>
                </form>
               
        <!--  <form method="POST" action=" {% url 'webapp:login'  %} ">
           {% csrf_token %}
           <div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
             <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           </div>
           <div class="form-group">
             <label for="exampleInputPassword1">Password</label>
             <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
           </div>
           <div class="form-group mb-3 d-table mx-auto">
             <div class="custom-control custom-checkbox mb-1">
               <input type="checkbox" class="custom-control-input" id="customCheck2">
               <label class="custom-control-label" for="customCheck2">Remember me</label>
             </div>
           </div>
           <button type="submit" class="btn btn-pill btn-accent d-table mx-auto">Access Account</button>
         </form> -->
                <br>
                
            </div>
          </div>
        </div>
      </div>
  </div>

  {% endblock %}