{% extends "home-base.html" %}
{% block title %}
Customer Portal |
{% endblock title %}
{% load static %}
{% block body %}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
<!-- <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css" /> -->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>
<script src="{%static "js/login.config.js"%}"></script>
{% url 'customers:login' as login_url %}
<script type="text/javascript">
  const auth = firebase.auth();
  initApp = function () {
    auth.onAuthStateChanged(function (user) {
      if (user) {
        // User is signed in.
        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        var uid = user.uid;
        var phoneNumber = user.phoneNumber;
        var providerData = user.providerData;
        console.log(email + " " + phoneNumber);      
      } else {    
        window.location.replace('{{login_url}}');
      }
    }, function (error) {
      console.log(error);
    });
  };
  window.addEventListener('load', function () {
    initApp();
  });

</script>

{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
  {% else %}
  <div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Welome {{customer.name}} </h1>
            <h3 class="title text-center">{{company.name}} Customer Portal</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <button class="btn btn-danger float-right" id="logout">
          <i class="material-icons">power_settings_new</i> LOGOUT
        </button>
        <br>
        <br>

        <br>
        <script>
          const logout = document.querySelector('#logout');
          logout.addEventListener('click', (e) => {
            console.log('Signed Out');
            e.preventDefault();
            firebase.auth().onAuthStateChanged(function (user) {
              if (user) {
                console.log('Signed IN');
              } else {
                console.log('Signed Out');
              }
            });
            auth.signOut().then(function () {
              console.log('Signed Out');
              //  window.location.replace('{{login_url}} ');
            }, function (error) {
              console.error('Sign Out Error', error);
            });
          });
        </script>
        <div class="d-flex flex-row justify-content-between">
          <div></div>
          <div class="m-2">
            <div class="d-flex flex-row justify-content-center">
              <ul class="nav nav-pills nav-pills-primary">
                <li class="nav-item">
                  <a class="nav-link active" href="#pill1" data-toggle="tab">Project Update</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pill2" data-toggle="tab">My EMIs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pill3" data-toggle="tab">My Payments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pill4" data-toggle="tab">Update Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pill5" data-toggle="tab">My dealer</a>
                </li>
              </ul>
            </div>
            <div class="tab-content tab-space">
            <div class="tab-pane active" id="pill1">
                {% if temp_bookings %}
                <h3>Hold Bookings</h3>
                <table class="flex-table table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Project</th>
                      <th scope="col">Property Code</th>
                      <th scope="col">Property Hold Time</th>
                      <th scope="col">Hold Cancellation Time</th>
                      <th scope="col">Booking Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in temp_bookings  %}
                    {% load humanize %}
                    <tr>
                      <td data-label="#">{{forloop.counter}} </td>
                      <td data-label="Project"> {{booking.property_ref.section_id.project_ref.project_name}}</td>
                      <td data-label="Property Code">
                      {{booking.property_ref.section_id.section_prefix}}-{{booking.property_ref.serial_no}}</td>
                      <td data-label="Property Hold Time">{{booking.booking_date}}</td>
                      <td data-label="Hold Cancellation Time">{{booking.booking_revoke_date}}</td>
                      <td data-label="Booking Status">
                        {% if booking.status %}
                        <span class="text-success">
                          <i class="fas fa-check-circle"></i>
                          On hold
                        </span>
                        {% else %}
                        <span class="text-danger">
                          <i class="fas fa-times-circle"></i>
                          Cancelled
                        </span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
                {% endif %}
                {% if bookings %}
                <h3>Booking Status</h3>
                <table class="flex-table table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Project</th>
                      <th scope="col">Property Code</th>
                      <th scope="col">Booked On</th>
                      <!-- <th scope="col">Booking Cancellation Date</th> -->
                      <th scope="col">Booking Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in bookings  %}
                    {% load humanize %}
                    <tr>
                      <td data-label="#">{{forloop.counter}} </td>
                      <td data-label="Project"> {{booking.property_ref.section_id.project_ref.project_name}}</td>
                      <td data-label="Property Code">
                        {{booking.property_ref.section_id.section_prefix}}-{{booking.property_ref.serial_no}}</td>
                      <td data-label="Booked On">{{booking.booking_date}}</td>
                      <!-- <td >{{booking.booking_revoke_date|date:"M"}}
                        <script>
                          time = "{{booking.booking_revoke_date|time}}";
                          date = "{{booking.booking_revoke_date|date}}"
                          document.write(timeModulation(time, date))
                        </script>
                      </td> -->
                      <td data-label="Status">
                        <!-- {% if booking.status %}
                        <span class="text-success">
                          <i class="fas fa-check-circle"></i>
                          On hold
                        </span>
                        {% else %}
                        <span class="text-danger">
                          <i class="fas fa-times-circle"></i>
                          Cancelled
                        </span>
                        {% endif %} -->
                        {% if booking.property_ref.status_code == 'V' %}
                        <span class="badge badge-success">Vacant</span>
                        {% elif booking.property_ref.status_code == 'H' %}
                        <span class="badge badge-warning">Hold</span>
                        {% elif booking.property_ref.status_code == 'B' %}
                        <span class="badge badge-danger">Booked</span>
                        {% elif booking.property_ref.status_code == 'A' %}
                        <span class="badge badge-primary">Alloted</span>
                        {% else %}
                        <span class="badge badge-default">Registered</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
                <div id="number"></div>
                <div id="email"></div>
              </div>
              <div class="tab-pane" id="pill2">
                <!-- EMIS -->
                <table class="flex-table table">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Due Date</th>
                      <th>Opening Balance</th>
                      <th>EMI</th>
                      <th>Intrest Paid</th>
                      <th>Closing Balance</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in emi %}
                    {% load humanize %}
                    <tr>
                      <td data-label="Serial No">{{forloop.counter}} </td>
                      <td data-label="Due Date">{{item.pay_day}}</td>
                      <td data-label="Opening Balance">&#8377; {{item.opening_balance|intcomma}}</td>
                      <td data-label="EMI">&#8377; {{item.emi|intcomma}}</td>
                      <td data-label="Intrest Paid">&#8377; {{item.intrest_paid|intcomma}}</td>
                      <td data-label="Closing Balance">&#8377; {{item.closing_balance|intcomma}}</td>
                      <td data-label="Status">
                        {% if item.status %}
                        <span class="text-success">
                          <i class="fas fa-check-circle"></i>
                        </span>
                        {% else %}
                        <span class="text-danger">
                          <i class="fas fa-times-circle"></i>
                        </span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- EMIS  -->
              </div>
              <div class="tab-pane" id="pill3">
                <!-- MY Payments -->
                <table class="flex-table table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Transaction ID</th>
                      <th scope="col">Date</th>
                      <th scope="col">Method</th>
                      <th scope="col">Reference No</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Description</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for item in tx %}
                    <tr>
                      <td data-label="Transaction ID">{{item.id}}</th>
                      <td data-label="Date">{{item.date}}</td>
                      <td data-label="Method"> {% if item.pay_method == 'C' %}
                        Cash
                        {% elif item.pay_method == 'Q' %}
                        Cheque
                        {% elif item.pay_method == 'N' %}
                        NEFT/Wire Transfer
                        {% else %}
                        Bank Draft
                        {% endif %}</td>
                      <td data-label="Reference No">{{item.reference_no}}</td>
                      <td data-label="Amount">{{item.amount}} </td>
                      <td data-label="Description">{{item.description}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- MY Payments -->
              </div>
              <div class="tab-pane text-left" id="pill4">
                <form action="" method="post">
                  {% csrf_token %}
                  {% load crispy_forms_tags %}

                  {% load widget_tweaks %}
                  Name: {% render_field form.name class="form-control" %} <br>
                  <input type="hidden" class="form-control" name="associate_ref" id="associate_ref">
                  Contact Number:
                  <!-- <input type="number" class="form-control" name="contact_no" id="contact"> -->
                  {% render_field form.contact_no class="form-control" %} <br>
                  <br>
                  Alternate Number
                  {% render_field form.alternate_no class="form-control" %} <br>
                  Email
                  {% render_field form.email class="form-control" %} <br>
                  Address
                  {% render_field form.address class="form-control" %}
                  <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Submit</button>
                </form>
              </div>
              <div class="tab-pane" id="pill5">
                <div class="row">
                  <div class="col-sm-4 mr-auto">

                    <img src="{% get_media_prefix %}{{customer.associate_ref.photo}}" alt="Raised Image"
                      class="img-raised rounded img-fluid" style="height: 200px; width: 200px;">
                  </div>
                  <div class="col-sm-8 mr-auto">
                    <h3 id="associate_name">{{customer.associate_ref.name}}</h3>
                    <p> <strong>Phone:</strong>
                      <span>{{customer.associate_ref.country_code}} {{customer.associate_ref.contact_no}}

                      </span></p>
                    <p> <strong>Alternate Phone:</strong>
                      <span>{{customer.associate_ref.country_code}} {{customer.associate_ref.contact_no}}

                      </span></p>
                    <p> <strong>Email:</strong> <span>{{customer.associate_ref.email}}</span></p>
                    <p> <strong>Address:</strong> <span>{{customer.associate_ref.address}}</span></p>
                    <p> <strong>Status:</strong>
                      <!-- <span class="badge badge-pill badge-success">Active</span> -->
                      <!--  <span class="badge badge-pill badge-warning">Suspended</span>-->

                      {% if customer.associate_ref.status %}
                      <span class="badge badge-pill badge-success">
                        <i class="fas fa-check-circle"></i>
                        Active</span>
                      {% else %}
                      <span class="badge badge-pill badge-danger">
                        <i class="fas fa-times"></i>
                        Suspended</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
                {% if customer.associate_ref.status %}

                {% else %}
                <h2>Your Current Dealer</h2>
                <div class="row">

                  <div class="col-sm-4 mr-auto">

                    <img src="/media/{{customer.associate_ref.upline.photo}}" alt="Raised Image"
                      class="img-raised rounded img-fluid" style="height: 200px; width: 200px;">
                  </div>
                  <div class="col-sm-8 mr-auto">
                    <h3 id="associate_name">{{customer.associate_ref.upline.name}}</h3>
                    <p> <strong>Phone:</strong>
                      <span>{{customer.associate_ref.upline.country_code}} {{customer.associate_ref.upline.contact_no}}

                      </span></p>
                    <p> <strong>Alternate Phone:</strong>
                      <span>{{customer.associate_ref.upline.country_code}} {{customer.associate_ref.upline.contact_no}}

                      </span></p>
                    <p> <strong>Email:</strong> <span>{{customer.associate_ref.upline.email}}</span></p>
                    <p> <strong>Address:</strong> <span>{{customer.associate_ref.upline.address}}</span></p>
                    <p> <strong>Status:</strong>
                      <!-- <span class="badge badge-pill badge-success">Active</span> -->
                      <!--  <span class="badge badge-pill badge-warning">Suspended</span>-->

                      {% if customer.associate_ref.upline.status %}
                      <span class="badge badge-pill badge-success">
                        <i class="fas fa-check-circle"></i>
                        Active</span>
                      {% else %}
                      <span class="badge badge-pill badge-danger">
                        <i class="fas fa-times"></i>
                        Suspended</span>
                      {% endif %}



                    </p>
                  </div>



                </div>
                {% endif %}
              </div>


            </div>
          </div>

          <div></div>
        </div>

        <!--  <div class="m-2">
                    <ul class="list-group ">
                      
                            <li class="list-group-item "> 

                                    <div class="d-flex flex-row justify-content-center">
                                    <div class="bg-success mr-2" style="height: 20px;width: 20px; border-radius: 10px;"></div>
                                    <div id="sign-in-status">Online</div>
                                    </div>
                                      
                              </li>
                           <li class="list-group-item">
                                    <div class="d-flex flex-row justify-content-center">
                                            <div class="bg-yellow mr-2" style="height: 20px;width: 20px; border-radius: 10px;   background-color: #ff9800;"></div>
                                            <div>Hold</div>
                                            </div>
                               
                              </li>
                            <li class="list-group-item">
                                    <div class="d-flex flex-row justify-content-center">
                                            <div class="bg-primary mr-2" style="height: 20px;width: 20px; border-radius: 10px;   "></div>
                                            <div>Booked</div>
                                            </div>
                               
                              </li>
                            <li class="list-group-item">
                                    <div class="d-flex flex-row justify-content-center">
                                            <div  class="bg-yellow mr-2" style="height: 20px;width: 20px; border-radius: 10px;   background-color: #e91e63;"></div>
                                            <div>Alloted</div>
                                            </div>
                                
                                </li>
                            <li class="list-group-item ">
                                    <div class="d-flex flex-row justify-content-center">
                                            <div class="bg-secondary mr-2" style="height: 20px;width: 20px; border-radius: 10px;   "></div>
                                            <div>Registered</div>
                                            </div>
                                
                              </li> 
                          </ul>
            </div> -->
      </div>




    </div>
  </div>
</div>

{% endblock %}