{% load static %}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
<!-- <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css" /> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyA6OEmssPxJkXXGn_DrRdHsgaPDLIrI3zA",
    authDomain: "cypress-8e96c.firebaseapp.com",
    databaseURL: "https://cypress-8e96c.firebaseio.com",
    projectId: "cypress-8e96c",
    storageBucket: "cypress-8e96c.appspot.com",
    messagingSenderId: "28158144687",
    appId: "1:28158144687:web:9060c8c16f954c4a"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<body style="
        background-repeat: no-repeat;
        background-position: center;
        background-size: top;
        background-color: #0e111f;
        
">


  <h1 style="color: aliceblue;
    position:absolute;
    top:40%;
    left:45%;

    ">  
    <div class="fas fa-sync fa-spin" style="font-size: 100pt; color: cyan;"></div><br><br>
    

    Loading ...</h1>
  {% url 'customers:home' as home  %}
  {% url 'customers:register' as register_url %}
  <!-- <button onclick="get()">get</button> -->
  <!--  <script src="{% static "js/http.js" %}"></script> -->
  <script>
    initApp = function () {
      firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var uid = user.uid;
          var phoneNumber = user.phoneNumber;
          var providerData = user.providerData;
          console.log(email + "--" + phoneNumber);
          console.log(phoneNumber.slice(3, phoneNumber.length));

          var countryCode = "";
          var phone = 0;
          if (phoneNumber.slice(0, 3) == "+91") {
            countryCode = +91
            console.log("INDIA");
            phone = parseInt(phoneNumber.slice(3, phoneNumber.length));
          }
          else if (phoneNumber.slice(0, 2) == "+1") {
            countryCode = +1
            console.log("USA")
            phone = parseInt(phoneNumber.slice(2, phoneNumber.length));
          }
          else if (phoneNumber.slice(0, 4) == "+971") {
            countryCode = +971
            phone = parseInt(phoneNumber.slice(4, phoneNumber.length));
            console.log("UAE")
          }

          if (phone != 0) {
            window.onload(get(phone));
            console.log("phone is not null");
          } else {
            console.log("phone is null");
            window.onload(get(1234));

          }

          user.getIdToken().then(function (accessToken) {
            document.getElementById('sign-in-status').textContent = 'Online';
            document.getElementById('sign-in').textContent = 'Sign out';
            document.getElementById('account-details').textContent = JSON.stringify({
              displayName: displayName,
              email: email,
              emailVerified: emailVerified,
              phoneNumber: phoneNumber,
              photoURL: photoURL,
              uid: uid,
              accessToken: accessToken,
              providerData: providerData
            }, null, '  ');
          });
        } else {
          // User is signed out.
          document.getElementById('sign-in-status').textContent = 'Offline';
          document.getElementById('sign-in').textContent = 'Sign in';
          document.getElementById('account-details').textContent = 'null';
          window.location.replace('{{login_url}} ');
          window.onload(get(0));

        }
      }, function (error) {
        console.log(error);
      });
    };

    window.addEventListener('load', function () {
      initApp();
    });





    function get(phone) {


      URL = ""
      if (window.location.hostname == "localhost") {
        URL = window.location.protocol + '//' + window.location.hostname + ":" + window.location.port
        console.log(window.location.protocol);
      }
      else {

        URL = window.location.protocol + '//' + window.location.hostname
      }
      http = null;
      URL = URL + "/api/customer/get/" + phone;
      console.log(URL);

      if (window.XMLHttpRequest) {
        // code for modern browsers
        http = new XMLHttpRequest();
      } else {
        // code for old IE browsers
        http = new ActiveXObject("Microsoft.XMLHTTP");
      }

      http.responseType = 'json';
      http.open("GET", URL, true);

      http.send();

      http.onreadystatechange = (e) => {
        if (http.readyState == 4 && http.status == 200) {
          buffer = http.response;
          data = JSON.parse(JSON.stringify(buffer));
          console.log("a");
          console.log(data[0]);

          if (data[0] == null) {
            console.log("nulla")
            window.location.replace('{{register_url}} ');
          }
          else {
            window.location.replace('/customers/home/' + data[0].id);
          }
        }

        /*     buffer= http.response;
            data=JSON.parse(JSON.stringify(buffer));
            //http.responseType = 'json';
            var body = http.response;
            //console.log(http.responseText);
            console.log(data[0].name); */
      }
    }

  </script>

</body>