{% extends "home-base.html" %}
{% block title %}
Customer Login 
{% endblock title %}
{% load static %}

{% block body %}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
<!-- <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script> -->
{% load static %}
<link rel="stylesheet" href="{%static "css/firebaseui.css"%}" %}">
<link rel="stylesheet" href="{%static "css/firebase-config.css"%}" %}">
<script src="{%static "js/plugin/firebaseui.js"%}"></script>
{% url 'customers:loader' as loader %}
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css" /> -->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
 <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<!--  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
 -->
 <!-- Add Firebase products that you want to use -->


 <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
 <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>
 
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyA6OEmssPxJkXXGn_DrRdHsgaPDLIrI3zA",
    authDomain: "cypress-8e96c.firebaseapp.com",
    databaseURL: "https://cypress-8e96c.firebaseio.com",
    projectId: "cypress-8e96c",
    storageBucket: "cypress-8e96c.appspot.com",
    messagingSenderId: "28158144687",
    appId: "1:28158144687:web:9060c8c16f954c4a"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<script type="text/javascript">
    // FirebaseUI config.
    var uiConfig = {
      
      signInSuccessUrl: '{{loader}}',
      signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
       // firebase.auth.GoogleAuthProvider.PROVIDER_ID,
       // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
       // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
       // firebase.auth.GithubAuthProvider.PROVIDER_ID,
        //firebase.auth.EmailAuthProvider.PROVIDER_ID,
        firebase.auth.PhoneAuthProvider.PROVIDER_ID,       
        
        //firebaseui.auth.AnonymousAuthProvider.PROVIDER_ID
      ],
      defaultCountry: 'IN',
      credentialHelper: firebaseui.auth.CredentialHelper.GOOGLE_YOLO,
      // tosUrl and privacyPolicyUrl accept either url string or a callback
      // function.
      
      // Terms of service url/callback.
      tosUrl: '<your-tos-url>',
      // Privacy policy url/callback.
      privacyPolicyUrl: function() {
        window.location.assign('<your-privacy-policy-url>');
      }
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
    initApp = function() {
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          window.location.replace('{{loader}}');
        }
        else{}
      }
      )};
      window.addEventListener('load', function() {
      initApp();
    });
  </script>
<style>

</style>

{% if company.use_url %}
<div class="page-header header-filter" data-parallax="false" style="height: 900px;;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 800px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto mb-5">
          <div class="brand text-center">
                <h1>Welcome to {{company.name}} </h1>
             
          </div>

          
        </div>
      </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Customer Login</h4>
                  <br>
                </div>               
                <br>
                <br>
                <div id="firebaseui-auth-container"></div>
               <!--  <a class="btn btn-success" href="{{home_url}}">LOGIN</a> -->


            </div>
          </div>
        </div>
      </div>
  </div>


  {% endblock %}