{% extends "home-base.html" %}
{% block title %}
Register | 
{% endblock title %}
{% load static %}
{% block body %}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
<!-- <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css" /> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>
<!-- <script src="{%static "js/plugin/login.config.js"%}"></script> -->
<script src="{%static "js/login.config.js"%}"></script>
<script>
  // Your web app's Firebase configuratio


  firebase.initializeApp(firebaseConfig);
  initApp = function() {
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var uid = user.uid;
          var phoneNumber = user.phoneNumber;
          var providerData = user.providerData;
          console.log(email+" "+phoneNumber);
         var countryCode="";
          var phone=0;
          if (phoneNumber.slice(0,3)=="+91") {
            countryCode="+91"
            console.log("INDIA");
            phone=parseInt(phoneNumber.slice(3,phoneNumber.length));
            document.getElementById("contact").value=phone;
          }
          else if(phoneNumber.slice(0,2)=="+1")
          {
            countryCode="+1"
            console.log("USA")
            phone=parseInt(phoneNumber.slice(2,phoneNumber.length));
            document.getElementById('contact').value=phone;
          }
          else if(phoneNumber.slice(0,4)=="+971")
          {
            countryCode="+971"
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            document.getElementById('contact').value=phone;
            console.log("UAE")
          }
          else if(phoneNumber.slice(0,4)=="+973")
          {
            countryCode="+973"
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            document.getElementById('contact').value=phone;
            console.log("BH")
          }
          else if(phoneNumber.slice(0,4)=="+966")
          {
            countryCode="+966"
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            document.getElementById('contact').value=phone;
            console.log("SA")
          }
          else if(phoneNumber.slice(0,4)=="+974")
          {
            countryCode="+974"
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            document.getElementById('contact').value=phone;
            console.log("QA")
          }
          else if(phoneNumber.slice(0,4)=="+968")
          {
            countryCode="+968"
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            document.getElementById('contact').value=phone;
            console.log("OM")
          }
          else if(phoneNumber.slice(0,4)=="+965")
          {
            countryCode="+965"
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            document.getElementById('contact').value=phone;
            console.log("KW")
          }
          
          if (phone!=0) {
            window.onload(get(phone));
            document.getElementById('country_code').value=countryCode;
            console.log("phone is not null");

          } else {
            console.log("phone is null");
            window.onload(get(1234));

          }

          user.getIdToken().then(function(accessToken) {
  
           /*  document.getElementById('account-details').textContent = JSON.stringify({
              displayName: displayName,
              email: email,
              emailVerified: emailVerified,
              phoneNumber: phoneNumber,
              photoURL: photoURL,
              uid: uid,
              accessToken: accessToken,
              providerData: providerData
            }, null, '  '); */
          });
        } else {
          // User is signed out.
   
          window.location.replace('{{login_url}}');
        }
      }, function(error) {
        console.log(error);
      });
    };

    window.addEventListener('load', function() {
      initApp();
    });

    var user = firebase.auth().currentUser;
</script>




  {% if company.use_url %}
  <div class="page-header header-filter"  style="
  height: 950px;
  background-image: url('{{company.bg_url}}')">
    {% else %}
    <div class="page-header header-filter" style=" 
    height: 950px; 
  background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
      {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" id="register" method="POST" action="">

            <h3 class="description text-center">Fill out these details</h3>
            <div class="card-body">
              {% csrf_token %}
              {% load crispy_forms_tags %}

              {% load widget_tweaks %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
   

              Name: {% render_field form.name class="form-control" %} <br>
              Associate ID:
              <input type="text" class="form-control" name="associate_ref" id="associate_ref" value="1">
              <br>          
              <input type="hidden"  name="contact_no" id="contact">
             <input type="hidden"  name="country_code" id="country_code">
             <br>
              Alternate Number
              {% render_field form.alternate_no class="form-control" %} <br>
              Email
              {% render_field form.email class="form-control" %} <br>
             Address
              {% render_field form.address class="form-control" %}
            

              
            </div>
            <div class="footer text-center">
              <!-- <a id="mySubmit1" class="btn btn-primary btn-link btn-wd btn-lg " onclick="submit()">Get Started</a> <br> -->
              <button type="submit" id="mySubmit" class="btn btn-primary btn-link btn-wd btn-lg" 
                >Get Started</button>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="{% static "js/http.js" %}"></script>
<script>
 /*   function sbt()
    {
    var name = document.forms["register"]["name"].value;
    var email = document.forms["register"]["email"].value;
    var phone = document.forms["register"]["phone"].value;
    var altphone = document.forms["register"]["alt-phone"].value;
    var address = document.forms["register"]["address"].value;
    var data ={
        "name": name,
        "email": email,
        "phone":phone,
        "alt-phone":altphone,
        "address": address,
        };
     
    console.log(JSON.stringify(data));
    
    var user = firebase.auth().currentUser;
    user.updateProfile({
        displayName: name,
        email: email,
        phoneNumber:phone,
       
      }).then(function() {
        // Update successful.
      }).catch(function(error) {
        // An error happened.
      });  
 
    } */ toggle = true;
  var x = document.getElementById("mySubmit");
  var x1 = document.getElementById("mySubmit1");
  document.onload(load());
  function load() {

   var user= firebase.auth().currentUser;
 
        if (user) {
          console.log("dfsd");
        }
    
    //document.getElementsByClassName("contact").value=user.phoneNumber; 
    
    
  }

  function submit() {


    if (x.style.display === "none") {
      x.style.display = "block";
      x1.style.display = "none";
    } else {
      x.style.display = "none";
      x1.style.display = "block";
    }

    console.log("ss");
    var user = firebase.auth().currentUser;
    var name = document.forms["register"]["name"].value;
    var email = document.forms["register"]["email"].value;
    var phone = document.forms["register"]["contact_no"].value;
    var altphone = document.forms["register"]["alternate_no"].value;
    var address = document.forms["register"]["address"].value;
    var data = {
      "name": name,
      "email": email,
      "phone": phone,
      "alt-phone": altphone,
      "address": address,
    };
   
    console.log(JSON.stringify(data));

    var user = firebase.auth().currentUser;
    user.updateProfile({
      displayName: name,
      email: email,
      phoneNumber: phone,

    }).then(function () {
      // Update successful.
    }).catch(function (error) {
      // An error happened.
    });
  }
</script>


{% endblock %}