{% extends "base.html" %}
{% block title %}
Buisness Summary
{% endblock title %}
<!-- heading  -->
{% block heading %}
Buisness Summary
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
<!-- Main Conent -->
{% block content %}
<script>
    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var mysales = [];
    var sale_value = [];
    d = new Date();
    var team_data = []
    var team_monthly_report = [];

</script>

{% for value in monthly_report %}
<script>

    if (parseInt('{{value.sale_year}}') == d.getFullYear()) {
        mysales.push({
            month: parseInt('{{value.sale_month}}') - 1,
            value: parseInt('{{value.amount}}') / 100000
        });
    }


</script>

{% endfor %}

<script>
    var i = 0;
    console.log(mysales)
    var current_sales = 0
    var flag = false;
    var dumm = []

    for (let i = 0; i < 12; i++) {
        mysales.forEach(element => {
            if (element.month == i) {
                sale_value.push(element.value);
                if (d.getMonth() == element.month) {
                    current_sales = element.value
                }
                flag = true;
            }
        });
        if (!flag) {
            sale_value.push(0);
        }
        flag = false;
    }

</script>


{% for value in team_monthly_report %}
<script>
    team_data.push({
        month: parseInt('{{value.sale_month}}') - 1,
        value: parseInt('{{value.amount}}') / 100000
    });
</script>
{% endfor %}
<script>
    var c = 0;
    var s = 0;

    while (c < 12) {

        team_data.forEach(data => {
            if (data.month == c) {
                s += data.value;
            }
        });
        console.log(team_monthly_report);
        team_monthly_report.push(s);
        s = 0;
        c++;
    }
</script>

<div class="row">
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
            
            background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                    ">SALES THIS MONTH </h5>
                <br>
                <p class="card-text float-right mt-5" style="font-size: 28pt">

                    &#x20b9;
                    <script> document.write(current_sales.toFixed(2))</script> Lakhs
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
                
                background-image: linear-gradient(to top, #27b88f 0%, #017ec7 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                        ">LIFETIME SALES</h5>
                <br>
                <p class="card-text float-right mt-5" style="font-size: 28pt">
                    {% load mathfilters %}
                    &#x20b9; {{lifetime_sales.amount__sum|div:100000|floatformat:2}} Lakhs

                </p>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-white"
            style="
                    
                    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                            ">PAYOUT LEVEL</h5>
                <br>
                <p class="card-text float-right mt-5" style="font-size: 28pt">


                    {% if payout_self_monthly %}

                    {% for pay in payout_self %}
                    {{pay.payout_rule.payout}}
                    {% endfor %}
                    {% else %}
                    {% for pay in payout_self %}
                    {{pay.payout_rule.payout}}
                    {% endfor %}

                    {% endif %}

                    %
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title"> Monthly sales Report(in Lakhs)

                    <div class="d-flex justify-content-start  align-items-center">
                        <div class="p-1">
                            <div class="bg-yellow mr-2"
                                style="height: 20px;width: 20px; border-radius: 10px;   background-color: #00bcd4;">
                            </div>
                        </div>
                        <div class="p-1"><small>Self</small></div>
                        <div class="p-1">
                            <div class="bg-yellow mr-2"
                                style="height: 20px;width: 20px; border-radius: 10px;   background-color: #f44336;">
                            </div>
                        </div>
                        <div class="p-1"><small>Team</small></div>
                    </div>
                </h4>
            </div>
            <div class="card-body">
                <div class="ct-chart" style="height: 500px;"></div>
            </div>
        </div>


        <script>
            var data = {
                // A labels array that can contain any sort of values
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                // Our series array that contains series objects or in this case series data arrays
                series: [
                    [5, 2, 4, 2, 0]
                ]
            };

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            new Chartist.Line('.ct-chart', {
                labels: month_label,
                series: [
                    sale_value,
                    team_monthly_report


                ]
            }, {
                    seriesBarDistance: 12,
                    low: 0,
                    high: 1000
                });
        </script>
    </div>
</div>

{% endblock %}