{% extends "base.html" %}
<!-- title  -->
{% block title %}
My Clients
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Clients
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}

<div class=" ">

  <table id="myTable" class="flex-table table">
    <thead class="thead-dark">
      <tr>
        <th>CUID</th>
        <th>Name</th>
        <th>Contact Number</th>
        <!--  <th>Alternate Number</th> -->
        <th>Email</th>
        <th>Date of Joining</th>
        <th>Listed Properties</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% load mathfilters %}
      {% for customer in customers %}

      {% if customer.associate_ref_id == associate.id %}

      <tr>
        <!-- <td data-label="#">{{forloop.counter}} </td> -->
        <td data-label="CUID">{{customer.id}} </td>
        <td data-label="Name">{{customer.name}}</td>
        <td data-label="Contact number">


          {% if customer.country_code %}
          {{customer.country_code}}-
          {% endif %}
          {{customer.contact_no}} </td>
        <!-- <td>
                {% if customer.country_code %}
                {{customer.country_code}}-
                {% endif %} {{customer.alternate_no}}
            </td> -->

        <td data-label="Email">
          {{customer.email}}
        </td>
        <td data-label="Date of Joining">
          {{customer.createdAt|date}}
        </td>
        <td data-label="Listed Properties">

          {% comment %}
          <!-- <script> var count=0;</script> -->
          {% for item in properties %}

          {% if item.cust_id.id == customer.id%}
          <!-- <script>count++;
               </script> -->
          {% endif %}

          {% endfor %}
          <!--   <script>document.write(count);</script> -->
          {% endcomment %}

        </td>
        <td data-label="actions">
          <a class="btn btn-sm  btn-info" href="{% url 'associate:customer_view' id=customer.id %} ">
            <i class="far fa-eye"></i> View
          </a>



        </td>

      </tr>
      {% endif %}
      {% endfor %}

    </tbody>
  </table>
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
  {% endblock %}


  {% load static %}