{% extends "base.html" %}
<!-- title  -->
{% block title %}
Client View
{% endblock title %}
<!-- heading  -->
{% block heading %}
Client View
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% block content %}

{% if customer.associate_ref.id == associate.id %}

<div class="card">

  <div class="card-body">
    <table class="table ml-1 mr-1">
      <tbody>

        <tr>
          <th scope="row">Client ID</th>

          <td> {{customer.id}}</td>
        </tr>
        <tr>
          <th scope="row">Client Name</th>

          <td>{{customer.name}}</td>
        </tr>
        <tr>
          <th scope="row">Contact Number</th>
          <td>


            {% if customer.country_code %}
            {{customer.country_code}}-
            {% endif %}
            {{customer.contact_no}} </td>

          <!--  <td>{{customer.id}} </td>
         <td>{{customer.name}}</td>
         <td> 
           
          
          {% if customer.country_code %}
          {{customer.country_code}}-
          {% endif %}
            {{customer.contact_no}} </td>
           <td>
                {% if customer.country_code %}
                {{customer.country_code}}-
                {% endif %} {{customer.alternate_no}}
            </td> 
        
          -->
        <tr>
          <th scope="row">Altenate Contact number</th>

          <td>
            {% if customer.country_code %}
            {{customer.country_code}}-
            {% endif %} {{customer.alternate_no}}
          </td>
        </tr>
        <tr>
          <th scope="row">Email</th>


          <td>
            {{customer.email}}
          </td>
        </tr>
        <tr>
          <th scope="row">Date Of Joining</th>

          <td>
            {{customer.createdAt}}
          </td>
        </tr>


        <tr>
          <th scope="row">Total Amount to be paid</th>
          <td>
            <script>
              var cost = 0;
            </script>
            {% for property in properties %}
            {{item.serial_no}}
            {% load mathfilters %}
            {% load humanize %}
            {% with cost=property.section_id.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}

            <script>
              cost = parseInt("{{cost|mul:factor|mul:property.section_id.area}}") + cost;
            </script>

            {% endwith %}
            {% endfor %}
            &#8377;
            <script>


              document.write(cost)</script>

          </td>
        </tr>
        <tr>
          <th scope="row">Payment Summary</th>
          <td>
            <span class="text-success">
              Amount Paid: &#8377; {{amount.amount__sum}}
              <script>
                var amount = parseInt("{{amount.amount__sum}}");
              </script>
            </span><br>
            <span class="text-danger">
              Outstanding Amount: &#8377;
              <script>
                document.write(cost - amount);
              </script>
            </span>
          </td>
        </tr>



        <tr class="text-success">
          <th scope="row">Number of EMIs Paid</th>

          <td>{{paid_emi.emi__count}}</td>
        </tr>
        <tr class="text-danger">
          <th scope="row">Number of EMIs Pending</th>

          <td>{{pending_emi.emi__count}}</td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="card-body ">
    <ul class="nav nav-pills nav-pills-info" role="tablist">
      <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#link1" role="tablist">
          Properties
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
          EMIs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
          Payments
        </a>
      </li>
    </ul>
    <div class="tab-content tab-space">
      <div class="tab-pane active show" id="link1">
        <div class="p-2">
          <table class=" myTable flex-table table table-striped ">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Serial Number</th>

                <th>Status</th>
                <th>Paid EMIs</th>
                <th>Pending EMIs</th>
                <!-- <th>Actions</th> -->
              </tr>
            </thead>
            <tbody>
              {% load mathfilters %}

              {% for property in properties  %}

              <tr>
                <td>
                  <a href="{% url 'associate:project_view' id=property.section_id.project_ref.id %}" target="_blank"
                    rel="noopener noreferrer">
                    {{property.section_id.project_ref.project_name}}
                  </a>
                </td>
                <td>
                  <a href="{% url 'associate:section_view' id=property.section_id.id proid=property.section_id.project_ref.id %}"
                    target="_blank" rel="noopener noreferrer">
                    {{property.section_id.section_prefix}}-{{property.serial_no}}
                  </a>
                </td>

                <td>{% if property.status_code == "V"  %}
                  <span class="badge  badge-pill badge-success">Vacant</span>
                  {% elif property.status_code == "H" %}
                  <span class="badge badge-pill badge-warning">Hold</span>
                  {% elif property.status_code == "B" %}
                  <span class="badge badge-pill badge-danger">Booked</span>
                  {% elif property.status_code == "A" %}
                  <span class="badge badge-pill badge-primary">Alloted</span>
                  {% else  %}
                  <span class="badge badge-pill badge-secondary">Registered</span>

                  {% endif %}</td>
                <script>
                  var paid = 0;
                  var unpaid = 0;
                </script>
                {% for item in emi %}
                {% if item.property_ref.id == property.id %}
                {% if item.status %}
                <script>
                  paid++;
                </script>
                {% else %}
                <script>
                  unpaid++;
                </script>
                {% endif %}
                {% endif %}
                {% endfor %}

                <td>
                  <script>
                    document.write(paid);</script>
                </td>

                <td>
                  <script>
                    document.write(unpaid);
                  </script>
                </td>
                <!-- <td>a</td> -->
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <script>
            $(document).ready(function () {
              $('.myTable').DataTable();
            });
          </script>
        </div>

      </div>
      <div class="tab-pane" id="link2">
        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for
        real-time schemas.
        <br>
        <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
      </div>
      <div class="tab-pane" id="link3">
        <table class=" myTable flex-table table table-striped ">
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Payment Mode</th>

              <th>Date</th>
              <th>Reference no</th>
              <th>Amount</th>
              <th>Description</th>
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
          <tbody>


            {% for tr in tx %}
            <tr>
              <td data-label="Transaction ID">{{tr.id}} </td>
              <td data-label="Payment Mode">

                {% if tr.pay_method == 'C' %}
                Cash
                {% elif tr.pay_method == 'D' %}
                Demand Draft
                {% elif tr.pay_method == 'N' %}
                NEFT
                {% elif  tr.pay_method == 'Q' %}
                Cheque
                {% endif %}

              </td>
              <td data-label="Date">{{tr.date}}</td>
              <td data-label="Reference No">{{tr.reference_no}}</td>
              <td data-label="Amount">{{tr.amount}} </td>
              <td data-label="Description">tr.description}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% else %}
  <span class="text-danger" style="font-weight: 500;
font-size: 20pt;">
    Sorry,this is not your Client!
  </span>
  <br>
  <span style="font-weight: 500;
font-size: 9pt;
color: black;
">For any discrepency please contact admin

  </span>

  {% endif %}
  {% endblock %}
  {% load static %}