{% extends "base.html" %}
{% block title %}
Downline View
{% endblock title %}
<!-- heading  -->
{% block heading %}
Downline View
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
        <table class="table ml-1 mr-1">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <img src="{% get_media_prefix %}{{downline.photo}} " alt="{{downline.name}}_photo" srcset=""
                            style="height: 200px;">

                    </td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        {{downline.name}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Contact Number</th>
                    <td>
                        {{downline.contact_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Alternate Number</th>
                    <td>
                        {{downline.alternate_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        {{downline.email}}
                    </td>
                </tr>
                <tr>
                        <th scope="row">Email</th>
                        <td>
                            {{downline.address}}
                        </td>
                    </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>


                        {% if downline.status %}
                        <div class="badge badge-success">
                            <i class="fas fa-check-circle"></i>
                            Active</div>
                        {% else %}
                        <div class="badge badge-danger">
                            <i class="fas fa-times"></i>
                            Suspended</div>
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th scope="row">Created At</th>
                    <td>
                        {{downline.createdAt}}
                    </td>
                </tr>
                <tr>
                        <th scope="row">No of downlines</th>
                        <td>
                            {{downline_count.id__count}}
                        </td>
                    </tr>

            </tbody>
        </table>

    </div>
</div>
<h2 class=" text-center">Network</h2>
<div class="d-flex justify-content-center">
        <div class="p-2">
                <div class="card text-white" style="max-width: 18rem;
               background-image: linear-gradient(to right top, #00b164, #00c15e, #00d254, #00e245, #00f22c);">
        
                    <div class="card-body">
                        <h5 class="card-title text-white"style="font-weight: 600;">SALE CONVERTS</h5>
                        <br>
                        <p class="card-text"
                        style="font-size: 28pt">
                        <script>
                        var count=0;
                        var total=0;
                        var flag=false;
                        </script>
                        {% for customer in customers_list %}
                            <script>
                            flag=false;
                            </script>
                            {% for property in properties %}
                                
                                {% if property.cust_id_id == customer.id %}
                                    <script>
                                    flag=true;
                                    </script>
                                    
                                {% endif %}
                                   
                            {% endfor %}
                            <script>
                                if (flag) {
                                    count++;
                                }
                                total++;
                                </script>
                        {% endfor %}
                            <script>
                            document.write(count)
                            </script>
                        Clients
                        </p>
        
                    </div>
                </div>
            </div>
    <div class="p-2">
        <div class="card text-white" style="
        max-width: 18rem;
        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white"
                style="font-weight: 600;
                "
                >PROSPECTS</h5>
                <br>
                <p class="card-text"
                style="font-size: 28pt">
                <script>
                document.write(total-count);
                </script>
                Clients
                </p>

            </div>
        </div>
    </div>
   

</div>
<h2 class="text-center">Buisness</h2>
<div class="d-flex justify-content-center">
    <div class="p-2">
        <div class="card text-white" style="
        max-width: 18rem;
        background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

            <div class="card-body">
                <h5 class="card-title text-white"
                style="font-weight: 600;
                "
                >LIFETIME</h5>
                <br>
                <p class="card-text"
                    style="font-size: 28pt">
                    &#8377; 42,000
                    </p>

            </div>
        </div>
    </div>
    <div class="p-2">
            <div class="card text-white" style="max-width: 18rem;
         background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
    
                <div class="card-body">
                    <h5 class="card-title text-white"style="font-weight: 600;">THIS MONTH</h5>
                    <br>
                    <p class="card-text"
                    style="font-size: 28pt">
                    &#8377; 42,000
                    </p>
    
                </div>
            </div>
        </div>

</div>
{% endblock %}


{% load static %}