{% extends "base.html" %}
{% block title %}
My Downlines
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Downlines
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
        <table id="example" class="display" style="width:100%">
                <thead>
                        <tr>
                          <th >AID</th>
                          <th>Name</th>
                          <th>Contact Number</th>
                         <!--  <th>Alternate Number</th> -->
                          <th>Email</th>
                          <th>Date of Joining</th>
                          <th>Listed Customers</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% load mathfilters %}
                        {% for downline in associate_list %}
                        
                        {% if downline.id != associate.id %}
                
                        <tr>
                         <td>{{downline.id}} </td>
                         <td>{{downline.name}}</td>
                         <td> 
                           
                          
                          {% if downline.country_code %}
                          {{downline.country_code}}-
                          {% endif %}
                            {{downline.contact_no}} </td>
                            <!-- <td>
                                {% if customer.country_code %}
                                {{customer.country_code}}-
                                {% endif %} {{customer.alternate_no}}
                            </td> -->
                         
                          <td>
                            {{downline.email}}
                          </td>
                          <td>
                            {{downline.createdAt|date}}
                          </td>
                        <td>
                          
                       
                            <script> var count=0;</script>
                            {% for item in customers %}
                              
                              {% if item.associate_ref.id == downline.id%}
                                <script>count++;
                               </script>
                              {% endif %}
                               
                            {% endfor %}
                            <script>document.write(count);</script>
                
                           
                        </td>
                          <td>
                            <a class="btn btn-sm  btn-info"
                            href="{% url 'associate:downline_view' id=downline.id %}"
                            >
                              <i class="far fa-eye"></i> View
                            </a>
                        
                            
                          
                          </td>
                
                        </tr>
                        {% endif %}
                        {% endfor %}
                
                      </tbody>
            <tfoot>
                <tr>
                  <th >AID</th>
                  <th>Name</th>
                  <th>Contact Number</th>
                 <!--  <th>Alternate Number</th> -->
                  <th>Email</th>
                  <th>Date of Joining</th>
                  <th>Listed Customers</th>
                  <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>
{% endblock %}


{% load static %}
