{% extends "base.html" %}
{% block title %}
Passbook
{% endblock title %}
<!-- heading  -->
{% block heading %}
Passbook
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
        
    </div>

</div>
{% endblock %}


{% load static %}
