{% extends "base.html" %}
{% block title %}
My Profile
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Profile
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<!--######################################################### 
    code for notifications -->
    <iframe id="myFrame" src="/default.asp" style="display:none;"></iframe>
    <script>
            var array=[]
            </script>
    {% if messages %}
    {% for message in messages %}
         <script>
         array.push({tags:"{{message.tags}}", msg:"{{message}}"});
         </script>
    {% endfor %}
    {% endif %}
    <script>
    document.getElementById("myFrame").addEventListener("load", myFunction);
    
    function myFunction() {
      //document.getElementById("demo").innerHTML = "Iframe is loaded.";
     
      array.forEach(element => {
        if (element.tags=='error') {
            element.tags='danger';
        }
        showNotification(element.msg,element.tags);
        console.log(element) 
      });
      
    }
        
    function showNotification(msg, type){
    
    $.notify({
        icon: "add_alert",
        message: msg
    
    },{
        type: type,
        timer: 4000,
        placement: {
            from: 'top',
            align: 'center',
        }
    });
    }</script>
    <!-- code for notifications 
    ############################################################################################
    -->
<div class="row ">
    <div class="col-lg-12">
        <table class="table ml-1 mr-1">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <img src="{% get_media_prefix %}{{associate.photo}} " alt="{{associate.name}}_photo" srcset=""
                            style="height: 200px;">

                    </td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        {{associate.name}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Contact Number</th>
                    <td>
                        {{associate.contact_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Alternate Number</th>
                    <td>
                        {{associate.alternate_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        {{associate.email}}
                    </td>
                </tr>
                <tr>
                        <th scope="row">Address</th>
                        <td>
                            {{associate.address}}
                        </td>
                    </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>


                        {% if associate.status %}
                        <div class="badge badge-success">
                            <i class="fas fa-check-circle"></i>
                            Active</div>
                        {% else %}
                        <div class="badge badge-danger">
                            <i class="fas fa-times"></i>
                            Suspended</div>
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th scope="row">Created At</th>
                    <td>
                        {{associate.createdAt}}
                    </td>
                </tr>
                <tr>
                        <th scope="row">No of downlines</th>
                        <td>
                            {{downline_count.id__count}}
                        </td>
                    </tr>

            </tbody>
        </table>

    </div>
</div>

{% endblock %}


{% load static %}