{% extends "base.html" %}
{% block title %}
{{property.section_id.project_ref.project_name}} Property
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{property.section_id.project_ref.project_name}} Project - {{property.section_id.name}} - Property
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header" style="background-image: url('{% get_media_prefix %}{{property.section_id.project_ref.cover_image}}');
                background-position: center;
                background-size: cover;
                height: 300px;
        ">

    </div>
    <div class="card-body">
        <table class="table ml-1 mr-1">
            <tbody>

                <tr>
                    <th scope="row">Property ID</th>

                    <td>{{property.id}}</td>
                </tr>
                <tr>
                    <th scope="row">Property Serial Number</th>

                    <td>{{property.section_id.section_prefix}}-{{property.serial_no}}</td>
                </tr>
                <tr>
                    <th scope="row">Status Code</th>

                    <td> {% if property.status_code == "V"  %}
                        <span class="badge  badge-pill badge-success">Vacant</span>
                        {% elif property.status_code == "H" %}
                        <span class="badge badge-pill badge-warning">Hold</span>
                        {% elif property.status_code == "B" %}
                        <span class="badge badge-pill badge-danger">Booked</span>
                        {% elif property.status_code == "A" %}
                        <span class="badge badge-pill badge-primary">Alloted</span>
                        {% else  %}
                        <span class="badge badge-pill badge-secondary">Registered</span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Project</th>

                    <td>{{property.section_id.project_ref.project_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Section</th>

                    <td>{{property.section_id.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Dimensions</th>

                    <td>{{property.section_id.dimensions}} ft</td>
                </tr>
                <tr>
                    <th scope="row">Total Area</th>

                    <td>{{property.section_id.area}} sq. ft </td>
                </tr>
                <tr>
                    <th scope="row">Price Rule</th>

                    <td>{{property.price_rule.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Price per square Feet</th>
                    <td>
                        {% load mathfilters %}
                        {% with cost=property.section_id.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; {{cost|mul:factor}}</td>
                    {% endwith %}

                </tr>
                <tr>
                    <th scope="row">Total Cost</th>
                    <td>
                        {% load mathfilters %}
                        {% load humanize %}
                        {% with cost=property.section_id.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; {{cost|mul:factor|mul:property.section_id.area|intcomma}}</td>
                    {% endwith %}

                </tr>

                <tr>
                    <th scope="row">Customer Name</th>

                    <td> {% if property.cust_id.name %}
                        {% if property.cust_id.associate_ref.id == associate.id %}

                        {{property.cust_id.name}}
                        <a href="{% url 'associate:customer_view' id=property.cust_id.id %}"
                            class="btn btn-sm btn-primary">
                            <i class="far fa-eye"></i>
                            View</a>
                        {% else %}
                        {{property.cust_id.name}}
                        {% endif %}

                        {% else %}
                        <span class="text-danger" style="font-weight: 500; font-size: 9pt;">NONE</span>
                        {% endif %}


                    </td>
                </tr>
                <tr class="text-success">
                    <th scope="row">Number of EMIs Paid</th>

                    <td class="font-weight-bold">{{paid_emi.emi__count}}</td>
                </tr>
                <tr class="text-danger">
                    <th scope="row">Number of EMIs Pending</th>

                    <td class="font-weight-bold">{{pending_emi.emi__count}}</td>
                </tr>


            </tbody>
        </table>

    </div>
</div>
{% endblock %}


{% load static %}