{% extends "base.html" %}
{% block title %}
My Rewards
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Rewards
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
        {% load static %}
        <div class="alert alert-warning" role="alert">
                
           
          <span
          style="font-size: 24pt;
          font-weight: 600;
          "
          >
          <img src="{% static 'images/reward.gif' %} " alt="rewards"
                style="height: 80px;">                 
            Congratulations!!</span>   <br> You have won a reward. Visit office to collect your reward.
           
                  
              </div>
        
    </div>   

</div>

<div class="row ">
    <div class="col-lg-12">
        <table id="example" class="display" style="width:100%">
                <thead>
                        <tr>
                          <th >CUID</th>
                          <th>Name</th>
                          <th>Contact Number</th>
                         <!--  <th>Alternate Number</th> -->
                          <th>Email</th>
                          <th>Date of Joining</th>
                          <th>Listed Properties</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% load mathfilters %}
                        {% for customer in customers %}
                        
                        {% if customer.associate_ref.id == associate.id %}
                
                        <tr>
                         <td>{{customer.id}} </td>
                         <td>{{customer.name}}</td>
                         <td> 
                           
                          
                          {% if customer.country_code %}
                          {{customer.country_code}}-
                          {% endif %}
                            {{customer.contact_no}} </td>
                            <!-- <td>
                                {% if customer.country_code %}
                                {{customer.country_code}}-
                                {% endif %} {{customer.alternate_no}}
                            </td> -->
                         
                          <td>
                            {{customer.email}}
                          </td>
                          <td>
                            {{customer.createdAt|date}}
                          </td>
                        <td>
                          
                       
                            <script> var count=0;</script>
                            {% for item in properties %}
                              
                              {% if item.cust_id.id == customer.id%}
                                <script>count++;
                               </script>
                              {% endif %}
                               
                            {% endfor %}
                            <script>document.write(count);</script>
                
                           
                        </td>
                          <td>
                            <a class="btn btn-sm  btn-info"
                            href="{% url 'associate:customer_view' id=customer.id %} "
                            >
                              <i class="far fa-eye"></i> View
                            </a>
                        
                            
                          
                          </td>
                
                        </tr>
                        {% endif %}
                        {% endfor %}
                
                      </tbody>
            <tfoot>
                <tr>
                    <th >CUID</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                   <!--  <th>Alternate Number</th> -->
                    <th>Email</th>
                    <th>Date of Joining</th>
                    <th>Listed Properties</th>
                    <th>Actions</th>
                  </tr>
            </tfoot>
        </table>
    </div>

</div>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>
{% endblock %}


{% load static %}
