{% extends "base.html" %}
<!-- title  -->
{% block title %}
Dashboard
{% endblock title %}
<!-- heading  -->
{% block heading %}
Dashboard
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
  {% for item in menu %}
    {% if item.sub|length < 1 %}
      <li class="nav-item {{item.active}} ">
        <a class="nav-link" href="{{item.url}} ">
          <i class="fa {{item.icon}}"></i>
          <p> {{item.name}}</p>
        </a>
      </li>
      {% else %}
      <li class="nav-item {{item.active}}">
        <a class="nav-link" data-toggle="collapse" href="#{{item.id}}">
          <i class="fa {{item.icon}}"></i>
          <p> {{item.name}}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="{{item.id}}">
          <ul class="nav">

            {% for subitem in item.sub %}
            <li class="nav-item ">
              <a class="nav-link" href="{{subitem.url}}">
                <span class="sidebar-mini"> * </span>
                <span class="sidebar-normal"> {{subitem.name}}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>

      {% endif %}
  {% endfor %}
{% endblock %}

<!-- Main Conent -->
{% block content %}


{% endblock %}


{% load static %}
