
{% load static %}
{% load mathfilters %}
<span style="color: black; font-weight: 500; "> Note:</span>
<br>
<div class="" style=" color: red; font-weight: 500;">
  Click on the vacant plot to book
</div>
<div class="d-flex flex-row justify-content-around">
  <div class="p-2">

    <ul class="nav nav-pills nav-pills-rose" role="tablist">
      <!--
                                          color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                      
                                       Hold  Booked  Alloted  Registered  Vacant
                                        -->
      <li class="nav-item">
        <a class="nav-link active " href="#all" role="tab" data-toggle="tab">
          All
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#vacant" role="tab" data-toggle="tab">
          Vacant
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#hold" role="tab" data-toggle="tab">
          Hold
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#booked" role="tab" data-toggle="tab">
          Booked
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#alloted" role="tab" data-toggle="tab">
          Alloted
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#registered" role="tab" data-toggle="tab">
          Registered
        </a>
      </li>


    </ul>
    <!-- tab content -->
    <div class="tab-content tab-space">
      {% load mathfilters %}
      <div class="tab-pane active" id="all">
        {% for section in section_set %}
        <div class="d-flex flex-row justify-content-between mb-3">
          <div class="m-2">
            <div class="sect-tab">
               <!-- <i class="material-icons" style="font-size: 40pt; 
               color: linear-gradient(to right top, #0e284f, #00527f, #007d87, #00a361, #8ac011); ">landscape</i> -->
              <img src="{% static 'images/house.png' %}"  style="height: 60px;"
               alt="">
              {% filter force_escape|upper %}
                {{section.name}}
                {% endfilter %}

              <!--; -->
            </div>
          </div>


          <div>
            <script> var counter = 0;
              var flag = false;                          
            </script>
            {% load humanize  %}
            {% for property in property_set %}
            {% if property.status_code == "V" and property.section_id_id == section.id %}
            <!-- flag -->

            <script>
              counter = counter + 1;
              flag = true;</script>
            <a id="property" href="{% url 'project:booking' id=property.id %}" target="_blank"
              class="btn btn-success property btn-sm" data-toggle="tooltip" data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
              Area(Square feet) : {{section.area}} <br>
              Plot Type: {{property.price_rule.name}}<br>
              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}} "  >
              {{section.section_prefix}}-{{property.serial_no}} </a>
            
              {% elif property.status_code == "H" and property.section_id_id == section.id %}
            <!-- flag -->
            <script>
              counter = counter + 1;
              flag = true;</script>

            <button type="button" class="btn btn-warning property btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
              Area(Square feet) : {{section.area}} <br>
              Plot Type: {{property.price_rule.name}}<br>
              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}} "  >
              {{section.section_prefix}}-{{property.serial_no}}</button>
            {% elif property.status_code == "B" and property.section_id_id == section.id %}
            <!-- flag -->
            <script>
              counter = counter + 1; flag = true;</script>

            <button type="button" class="btn btn-danger property btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>

            {% elif property.status_code == "A" and property.section_id_id == section.id %}
            <!-- flag -->
            <script>
              counter = counter + 1;
              flag = true;</script>
            <button type="button" class="btn btn-primary btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>

            {% elif property.status_code == "R" and property.section_id_id == section.id %}
            <!-- flag -->
            <script>
              counter = counter + 1;
              flag = true;</script>

            <button type="button" class="btn btn-default btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>

            {% endif %}
            <script>
              //counter = counter+1;                                 


              if (counter % 5 == 0 && flag == true) {
                document.write("<br>");
              }
              flag = false;

            </script>
            {% endfor%}
          </div>
        </div>
        <hr>
        {% endfor %}

      </div>
      <div class="tab-pane" id="vacant">
        {% for section in section_set %}
        <div class="d-flex flex-row justify-content-between mb-3">
          <div class="p2">
            <div class="sect-tab">
              <!-- <i class="material-icons" style="font-size: 40pt; 
              color: linear-gradient(to right top, #0e284f, #00527f, #007d87, #00a361, #8ac011); ">landscape</i> -->
             <img src="{% static 'images/house.png' %}"  style="height: 60px;"
              alt="">
             {% filter force_escape|upper %}
               {{section.name}}
               {% endfilter %}

             <!--; -->
           </div>
          </div>


          <div>
            {% for property in property_set %}

            {% if property.status_code == "V" and property.section_id_id == section.id %}
            <script>
              counter = counter + 1;
              flag = true;</script>

            <a href="{% url 'project:booking' id=property.id %}" target="_blank"
              class="btn btn-success  btn-sm " data-toggle="tooltip" data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">
              {{section.section_prefix}}-{{property.serial_no}} </a>

            {% endif %}
            <script>
              //counter = counter+1;                                 


              if (counter % 5 == 0 && flag == true) {
                document.write("<br>");
              }
              flag = false;

            </script>
            {% endfor%}


          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
      <div class="tab-pane" id="hold">
        {% for section in section_set %}
        <div class="d-flex flex-row justify-content-between mb-3">
          <div class="p2">
            <div class="sect-tab">
              <!-- <i class="material-icons" style="font-size: 40pt; 
              color: linear-gradient(to right top, #0e284f, #00527f, #007d87, #00a361, #8ac011); ">landscape</i> -->
             <img src="{% static 'images/house.png' %}"  style="height: 60px;"
              alt="">
             {% filter force_escape|upper %}
               {{section.name}}
               {% endfilter %}

             <!--; -->
           </div>
          </div>


          <div>
            {% for property in property_set %}

            {% if property.status_code == "H" and property.section_id_id == section.id %}
            <script>
              counter = counter + 1;
              flag = true;</script>

            <button type="button" class="btn btn-warning btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>

            {% endif %}
            
            <script>
              //counter = counter+1;                                 


              if (counter % 5 == 0 && flag == true) {
                document.write("<br>");
              }
              flag = false;

            </script>
            {% endfor%}


          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
      <div class="tab-pane" id="booked">
        {% for section in section_set %}
        <div class="d-flex flex-row justify-content-between mb-3">
          <div class="p2">
            <div class="sect-tab">
              <!-- <i class="material-icons" style="font-size: 40pt; 
              color: linear-gradient(to right top, #0e284f, #00527f, #007d87, #00a361, #8ac011); ">landscape</i> -->
             <img src="{% static 'images/house.png' %}"  style="height: 60px;"
              alt="">
             {% filter force_escape|upper %}
               {{section.name}}
               {% endfilter %}

             <!--; -->
           </div>
            
          </div>


          <div>
            {% for property in property_set %}

            {% if property.status_code == "B" and property.section_id_id == section.id %}
            <script>
              counter = counter + 1;
              flag = true;</script>

            <button type="button" class="btn btn-danger btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>

            {% endif %}
            <script>
              //counter = counter+1;                                 


              if (counter % 5 == 0 && flag == true) {
                document.write("<br>");
              }
              flag = false;

            </script>
            {% endfor%}



          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
      <div class="tab-pane" id="alloted">
        {% for section in section_set %}
        <div class="d-flex flex-row justify-content-between mb-3">
          <div class="p2">
            <div class="sect-tab">
              <!-- <i class="material-icons" style="font-size: 40pt; 
              color: linear-gradient(to right top, #0e284f, #00527f, #007d87, #00a361, #8ac011); ">landscape</i> -->
             <img src="{% static 'images/house.png' %}"  style="height: 60px;"
              alt="">
             {% filter force_escape|upper %}
               {{section.name}}
               {% endfilter %}

             <!--; -->
           </div>
          </div>


          <div>
            {% for property in property_set %}

            {% if property.status_code == "A" and property.section_id_id == section.id %}
            <script>
              counter = counter + 1;
              flag = true;</script>

            <button type="button" class="btn btn-primary btn-sm " data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>


            {% endif %}
            <script>
              //counter = counter+1;                                 


              if (counter % 5 == 0 && flag == true) {
                document.write("<br>");
              }
              flag = false;

            </script>
            {% endfor%}


          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
      <div class="tab-pane" id="registered">
        {% for section in section_set %}
        <div class="d-flex flex-row justify-content-between mb-3">
          <div class="p2">
            <div class="sect-tab">
              <!-- <i class="material-icons" style="font-size: 40pt; 
              color: linear-gradient(to right top, #0e284f, #00527f, #007d87, #00a361, #8ac011); ">landscape</i> -->
             <img src="{% static 'images/house.png' %}"  style="height: 60px;"
              alt="">
             {% filter force_escape|upper %}
               {{section.name}}
               {% endfilter %}

             <!--; -->
           </div>
          </div>


          <div>
            {% for property in property_set %}

            {% if property.status_code == "R" and property.section_id_id == section.id %}
            <script>
              counter = counter + 1;
              flag = true;</script>

            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
              data-placement="right" data-html="true"
              title="Dimentions : {{section.dimensions}} <br>
                              Area(Square feet) : {{section.area}} <br>
                              Plot Type: {{property.price_rule.name}}<br>
                              Cost(per square feet): &#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit}} <br>
                              Cost(Net):&#x20B9;{{property.price_rule.premium_price|add:100|div:100|mul:section.cost_per_unit|mul:section.area|intcomma}}">{{section.section_prefix}}-{{property.serial_no}}</button>

            {% endif %}
            <script>
              //counter = counter+1;                                 


              if (counter % 5 == 0 && flag == true) {
                document.write("<br>");
              }
              flag = false;

            </script>
            {% endfor%}


          </div>
        </div>
        <hr>
        {% endfor %}
      </div>

    </div>
    <!-- tab content -->
  </div>
  <div class="p2">
    <ul class="list-group ">

      <li class="list-group-item ">

        <div class="d-flex flex-row justify-content-center">
          <div class="bg-success mr-2" style="height: 20px;width: 20px; border-radius: 10px;"></div>
          <div>Vacant</div>
        </div>

      </li>
      <li class="list-group-item">
        <div class="d-flex flex-row justify-content-center">
          <div class="bg-yellow mr-2"
            style="height: 20px;width: 20px; border-radius: 10px;   background-color: #ff9800;"></div>
          <div>Hold</div>
        </div>

      </li>
      <li class="list-group-item">
        <div class="d-flex flex-row justify-content-center">
          <div class="bg-danger mr-2" style="height: 20px;width: 20px; border-radius: 10px;   "></div>
          <div>Booked</div>
        </div>

      </li>
      <li class="list-group-item">
        <div class="d-flex flex-row justify-content-center">
          <div class="bg-primary mr-2" style="height: 20px;width: 20px; border-radius: 10px;  "></div>
          <div>Alloted</div>
        </div>

      </li>
      <li class="list-group-item ">
        <div class="d-flex flex-row justify-content-center">
          <div class="bg-secondary mr-2" style="height: 20px;width: 20px; border-radius: 10px;   "></div>
          <div>Registered</div>
        </div>

      </li>
    </ul>

  </div>

</div>


