{% if associate %}
<div class="user">
  {% load static %}
  <div class="photo">
    <img src="{% get_media_prefix %}{{associate.photo}} " />
  </div>
  <div class="user-info">
    <a data-toggle="collapse" href="#collapseExample" class="username">
      <span>
        {{associate.name}}
        <b class="caret"></b>
      </span>
    </a>
    <div class="collapse" id="collapseExample">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'associate:profile' %}">
            <span class="sidebar-mini"> MP </span>
            <span class="sidebar-normal"> My Profile </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'associate:profile_edit' %}">
            <span class="sidebar-mini"><i class="far fa-edit"></i></span>
            <span class="sidebar-normal">Edit Profile </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'associate:changepwd' %}">
            <span class="sidebar-mini">
              <div class="material-icons">settings</div>
            </span>
            <span class="sidebar-normal"> Settings </span>
          </a>
        </li>
        <!-- <li class="nav-item">
                     <a class="nav-link">
                        <span class="sidebar-mini"> <div class="material-icons">settings_power</div></i> </span>
                        <form action="{% url 'user:logout' %}" method="post">
                        <button type="submit" class="btn btn-danger"> Logout </button>
                      </form>
                    </a>
                </li> -->
        <li class="nav-item">
          <div class="nav-link ml-4">
            <form action="{% url 'user:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">
                <!-- <i class="material-icons" style="font-size: 16pt;">
                                 settings_power</i> -->
                <div class="material-icons">settings_power</div> Logout
              </button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}



<ul class="nav">

  {% for item in menu %}
  {% if item.sub|length < 1 %}
  <li class="nav-item {{item.active}} ">
    <a class="nav-link" href="{{item.url}} ">
      <i class="fa {{item.icon}}"></i>
      <p> {{item.name}}</p>
    </a>
  </li>
  {% else %}
  <li class="nav-item {{item.active}}">
    <a class="nav-link" data-toggle="collapse" href="#{{item.id}}">
      <i class="fa {{item.icon}}"></i>
      <p> {{item.name}}
        <b class="caret"></b>
      </p>
    </a>
    <div class="collapse" id="{{item.id}}">
      <ul class="nav">

        {% for subitem in item.sub %}
        <li class="nav-item ">
          <a class="nav-link" href="{{subitem.url}}">
            <span class="sidebar-mini"> * </span>
            <span class="sidebar-normal"> {{subitem.name}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>

  {% endif %}
  {% endfor %}
</ul>