<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Admin panel">
  <meta name="author" content="Codinfy">
  <meta name="keywords" content="codinfy, codinfy, IT,software">

  <!-- Title Page-->

  {% load static %}
  <!-- Fontfaces CSS-->
  <link rel="icon" type="image/png" href="{% get_media_prefix %}/images/config/logo.png"/>
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

  <!-- Bootstrap  -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  
  <!-- material dashboard css -->
  
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
  <link href="{% static "css/material-dashboard.min.css" %}" rel="stylesheet" media="all">
  <link href="{% static "css/flex-table.css" %}" rel="stylesheet" media="all">
  
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

  

  <title>
    {% block title %}
    {% endblock title %}
  </title>

  {% block body%}
  {% endblock body %}

  <!--   Core JS Files   -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="{% static "js/plugin/bootstrap-material-design.min.js" %}"></script>
  <script src="{% static "js/plugin/perfect-scrollbar.jquery.min.js" %}"></script>
<!-- datatables -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static "js/material-dashboard.min.js" %}"></script>
  <script src="{% static "js/plugin/uniform.jquery.js" %}"></script>
  <!-- jasny-fileupload  -->
  <script src="{% static "js/plugin/jasny-fileupload.min.js" %}"></script>
  <!--  Plugin for Sweet Alert  -->
  <script src="{% static "js/plugin/sweetalert2.js" %}"></script>
    <!--  Plugin for bootstrap NOtify  -->
  <script src="{% static "js/plugin/bootstrap-notify.js" %}"></script>
  <!-- Sharrre libray    -->
  <!--  https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js
https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js
https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

  <!--   <script src="{% static "js/plugin/sharre.js" %}"></script> -->

  <script src="{% static "js/home.js" %}"></script>


</html>
<!-- end document-->